.app-aside-outer {
    display: block;
    width: 220px;
    min-height: 1px;
    flex-shrink: 0;
    flex-grow: 0;
    order: 999;
}

.app-aside-float {
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    overflow: visible;
    width: 100%;
}

aside.app-aside {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    box-sizing: border-box;
    color: hsla(232,20%,32%,0.7);
    font-family: 'Open Sans', Arial, sans-serif;
}

aside.app-aside + * {
    margin-right: 260px
}

aside.app-aside hr {
    background: hsla(232,20%,32%,0.08);
    margin: 10px 0 10px;
}

aside.app-aside p {
    color: hsla(232,20%,32%,0.65);
    font-size: 12px;
}

/* primary button mod */

aside.app-aside button.primary {
    display: block;
    width: 100%;
    box-shadow: none;
    border: 0;
    background: hsla(204,90%,50%,1);
}
aside.app-aside button.primary:hover {
    background: #3daaf5;
}
aside.app-aside button.primary:not([disabled]):active {
    transform: translateY(0px);
}
aside.app-aside button.primary:focus {
    outline: 0;
    box-shadow: 0 0 0 2.5px rgba(0,140,221,.2);
}

aside.app-aside button.primary[disabled] {
    background: hsla(210, 40%, 84%, 1);
}

/* secondary button mod */

aside.app-aside button.secondary,
aside.app-aside button.secondary:not([disabled]):hover {
    display: block;
    width: 100%;
    box-shadow: none;
    border: 0;
    background: hsl(210, 40%, 96%);
}
aside.app-aside button.secondary:not([disabled]):hover {
    background: hsl(210, 40%, 93%);
}
aside.app-aside button.secondary:not([disabled]):active {
    transform: translateY(0px);
}
aside.app-aside button.secondary:not([disabled]):focus {
    outline: 0;
    box-shadow: 0 0 0 2.5px rgba(0,140,221,.2);
}
aside.app-aside button + button {
    margin-top: 8px;
}

/* form error */

aside.app-aside button.primary[disabled] {
    background: hsla(210, 40%, 84%, 1);
}

.app-aside .form-error {
    background: hsla(10, 79%, 95%, 1);
    color: hsla(232,20%,32%,0.75);
    font-weight: bold;
    padding: 8px 10px;
    font-size: 12px;
    margin: 10px 0;
}