.AppDialogOuter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
}
.AppDialog {
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    opacity: 0.5;
    animation: AppDialogEntryFromAbove 300ms ease-out forwards;
    padding: 10px;
    background: white;
    box-shadow:
        0 10px 100px rgba(0,0,0,0.1),
        0 0px 1px rgba(0,0,0,0.1),
        0 1px 2px rgba(0,0,0,0.35);
}
.AppDialog[data-type="alert"] {
    max-width: 400px;
    width: 100%;
    margin-top: 30px;
}
.AppDialog[data-type="modal"] {
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
}
.AppDialog_Inner .close {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.35;
}
.AppDialog_Inner .close:hover {
    opacity: 1;
}

.AppDialog .AppDialog_Content {
    font-size: 15px;
    font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
    min-height: 40px;
    padding: 0 10px;
}
.AppDialog[data-type="modal"] .AppDialog_Content {
    min-height: 60px;
}
.AppDialog[data-type="alert"] .AppDialog_ButtonGroup {
    display: flex;
    justify-content: flex-end;
}

.AppDialog[data-type="toast"] {
    max-width: 450px;
    width: 100%;
    margin-bottom: 30px;
    top: auto;
    bottom: -20px;
    animation: AppDialogEntryFromBelow 300ms ease-out forwards;
}
.AppDialog[data-type="toast"] .AppDialog_Content {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin-right: 30px;
}
.AppDialog[data-type="toast"] .AppDialog_Inner .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 15px;
    width:  20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 25px;
}
.AppDialog[data-type="toast"] .AppDialog_Inner .icon + .AppDialog_Content {
    margin-left: 40px;
    border-left: 1px solid #ccc;
}
.AppDialog[data-type="toast"] .AppDialog_Inner .close {
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto 0;
}

@keyframes AppDialogEntryFromAbove {
    0% {
        top: -20px;
        opacity: 0.5;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
@keyframes AppDialogEntryFromBelow {
    0% {
        bottom: -20px;
        opacity: 0.5;
    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}