/*
 | Top nav
 | ----------------------------------------------------------------------
 */

nav {
    height: 60px;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
}

nav .wrapper {
    height: 60px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-family: Verdana, Arial, sans-serif;
}


body {
    padding-top: 60px;
}

body.application nav {
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
}

body.application nav .wrapper {
    position: relative;
    justify-content: space-between;
}

main {
    min-height: calc(100vh - 60px);
}

nav a, .user-label {
    color: hsla(232,20%,32%,0.6);
}

nav .fl, nav .fr {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

nav .fl a {
    margin-right: 15px;
}

nav .fr > a {
    margin-left: 15px;
}

body.application nav .fl {
    height: 40px;
    display: flex;
    position: static;
    align-items: center;
}

.full-nav nav .wrapper {
    max-width: none;
    padding: 0 20px;
}

.nav-logo-a, .nav-logo {
    display: inline-block;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    height: 42px;
}
.nav-logo {
    height: 28px;
    width: 28px;
    opacity: 1.0;
}
.nav-logo svg {
    width: 100%;
    height: 100%;
    fill: #000;
}
.nav-logo img {
    height: 100%;
    width: auto;
    opacity: 0.8;
}
.application .nav-logo img {
    height: 24px;
    opacity: 0.9;
}
.nav-logo-a span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: hsla(232,20%,32%,0.9);
    color: #466dda;
    font-weight: bold;
}

.login-button {
    /* background: #3daaf5; */
    background: hsla(232,20%,32%,0.11);
    padding: 0 8px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    color: hsla(232,20%,32%,0.65);
    min-height: 28px;
    font-size: 12px;
    font-family: 'Open Sans', Arial, sans-serif;
    border: 0;
    cursor: pointer;
}
.login-button .icon {
    font-size: 18px;
    margin-right: 5px;
}
nav .fr > a.login-button {
    margin-left: 5px;
}


.nav-user-menu, .user-label {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', Arial, sans-serif;
}
.user-label {
    margin-right: 10px;
}

nav .user-button {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    height: 28px;
    line-height: 28px;
    padding: 0 12px 0 12px;
    text-align: center;
    /* border: 1px solid #e0e0e0;
    background: #fafafa; */
    color: rgba(0,0,0,0.5);
    margin-left: 5px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;

    border: 0;
    background: 0;
}
nav .user-button:hover,
nav .user-button.dropdown--active {
    /* box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2); */
    box-shadow: 0 2px 9px 1px rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.5);
    background: #fff;
}
nav .user-button .icon:not(:last-of-type) {
    margin-right: 5px;
}
nav .user-button .icon:not(:first-of-type) {
    margin-left: 5px;
}

nav .user-button, nav .user-button .user-label {
    color: #466dda;
}


nav .user-dropdown {
    min-width: 170px;
    margin-top: 11px;
    transform: none;
    left: auto;
    right: -2px;
}
nav .user-dropdown:not(.dropdown--panel) > a,
nav .user-dropdown:not(.dropdown--panel) > form,
nav .user-dropdown:not(.dropdown--panel) > button,
nav .user-dropdown:not(.dropdown--panel) > form > button {
    font-size: 12px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    line-height: 28px;
}
nav .user-dropdown:not(.dropdown--panel) > a small,
nav .user-dropdown:not(.dropdown--panel) > form small,
nav .user-dropdown:not(.dropdown--panel) > button small,
nav .user-dropdown:not(.dropdown--panel) > form > button small {
    margin-top: -15px;
    display: block;
    margin-bottom: -5px;
    color: rgba(0,0,0,0.5);
}
nav .user-dropdown:not(.dropdown--panel) > a .icon,
nav .user-dropdown:not(.dropdown--panel) > form .icon,
nav .user-dropdown:not(.dropdown--panel) > button .icon,
nav .user-dropdown:not(.dropdown--panel) > form > button .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 8px;
    font-size: 14px;
}
nav .user-dropdown.dropdown:after,
nav .user-dropdown.dropdown:before {
    left: calc(100% - 36px);
    right: 0;
}

nav .user-dropdown.dropdown--panel {
    min-width: 300px;
}
nav .user-dropdown.dropdown--panel .content {
    padding: 10px;
}

nav .user-button.user-tz-button {
    background: rgba(230,69,72,0.1);
}
nav .user-button.user-tz-button .user-label {
    color: #e64548;
}
nav .user-button.user-tz-button .icon {
    font-weight: bold;
    color: hsla(359, 76%, 55%, 1);
}

nav .user-button.user-tz-button:hover {
    box-shadow: none;
    background: rgba(230,69,72,0.15);
}

@media (max-width: 500px) {
    .login-button {
        font-size: 12px;
    }
    .full-nav nav .wrapper {
        padding: 0 10px;
    }
}

@media (max-width: 820px) {
    body:not(.full-nav) nav .wrapper {
        padding: 0 10px;
    }
}

@media (max-width: 760px) {
    nav .fl a {
        font-size: 12px;
        margin-right: 10px;
    }
}
@media (max-width: 720px) {
    body:not(.application) nav .wrapper {
        padding: 0 5px;
    }
    nav .fl a {
        font-size: 11px;
        margin-right: 5px;
    }
    nav .fl a.nav-logo-a {
        margin-right: 0;
    }
    body:not(.application) .wrapper .login-button {
        font-size: 12px;
    }
}
@media (max-width: 670px) {
    nav .fl a:not(.nav-logo-a) {
        display: none;
    }
}
@media (max-width: 570px) {
    .user-label {
        font-size: 12px;
    }
    nav .user-button {
        font-size: 12px;
        height: 26px;
        line-height: 26px;
        padding: 0 10px 0 10px;
    }
}
@media (max-width: 400px) {
    nav .nav-logo-a > span {
        font-size: 0 !important;
    }
    body.application nav .nav-logo {
        display: block !important;
    }
}

/*
 | MOBILE TRIGGER
 | ----------------------------------------------------------------------
 */

nav .mobi-trigger {
    font-size: 21px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: none;
    margin-left: 5px;
    margin-right: 10px;
    color: hsla(232, 20%, 32%, 1);
}

nav .mobi-trigger:hover {
    background: rgba(255,255,255,0.08);
    cursor: pointer;
}

@media (max-width: 900px) {
    body.application nav .mobi-trigger {
        display: block;
    }

    body.application nav .nav-logo {
        display: none;
    }
}