/*
 | Wrappers
 | ----------------------------------------------------------------------
 */
body:not(.application) .wrapper {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    box-sizing: border-box;
}

body:not(.application) .wrapper.no-pad {
    padding-left: 0;
    padding-right: 0;
}

/*
 | Footer
 | ----------------------------------------------------------------------
 */
#footer-parent {
    background: white;
    color: rgba(0,0,0,0.3);
    text-align: center;
    border-top: 1px solid #e6e8ea;
    padding: 30px 40px 40px 60px
}

#footer {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

#footer a {
    color: rgba(0,0,0,0.4);
}

#footer .col {
    text-align: left;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin-right: 90px;
    order: 0;
    padding-bottom: 30px;
}

#footer .col h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

#footer .col:nth-child(2) h3 {
    color: #7a84e6;
}
#footer .col:nth-child(3) h3 {
    color: #3daaf5;
}
#footer .col:nth-child(4) h3 {
    color: #24b47e;
}
#footer .col:nth-child(5) h3 {
    color: #f19352;
}

#footer .col ul {
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
}

#footer .col ul a:hover {
    text-decoration: underline;
}

#copy {
    display: flex;
    align-items: flex-end;
    color: rgba(0,0,0,0.35);
    text-transform: uppercase;
    font-size: 14px;
}



#footer .col {
    transition: margin-right 1000ms ease;
}
#footer .col h3, #footer .col ul {
    transition: font-size 1000ms ease;
}

@media (max-width: 1170px) {
    #footer-parent {
        padding-right: 0;
        padding-left: 0;
    }
    #footer {
        flex-wrap: wrap;
    }
    #copy {
        order: 0;
        width: 100%;
        padding-bottom: 10px;
        padding-left: 60px;
        justify-content: flex-end;
    }
}
@media (max-width: 770px) {
    #footer .col {
        margin-right: 70px;
    }
}
@media (max-width: 790px) {
    #footer .col {
        margin-right: 60px;
    }
    #footer .col h3 {
        font-size: 13px;
    }
    #footer .col ul {
        font-size: 13px;
    }
}
@media (max-width: 615px) {
    #footer .col {
        margin-right: 50px;
    }
}
@media (max-width: 570px) {
    #footer .col {
        transition: none;
    }
    #footer .col:not(#copy) {
        width: 50%;
        margin: 0;
        box-sizing: border-box;
        padding: 0 50px 30px;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }
    #footer .col:not(#copy):nth-child(3),
    #footer .col:not(#copy):nth-child(5) {
        align-items: flex-start;
    }
    #footer .col:not(#copy) > * {
        min-width: 110px;
    }
    #footer .col#copy {
        justify-content: center;
        padding: 0 0 30px;
        margin: 0;
    }
}
@media (max-width: 400px) {
    #footer .col:not(#copy) {
        padding: 0 20px 30px;
    }
}

/*
 | ToS Notice
 | ----------------------------------------------------------------------
 */
.TermsOfServiceNotice {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    border: 0;
    position: fixed;
    left: 235px;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999999;
    transition: transform 500ms ease;
    box-shadow: 0 -2px 5px -3px rgba(0,0,0,0.4);
}
.TermsOfServiceNotice p {
    font-size: 16px;
    padding-bottom: 3px;
}
.TermsOfServiceNotice p a {
    font-weight: 600;
}
.TermsOfServiceNotice button {
    margin-left: 25px !important;
}
.TermsOfServiceNotice.confirmed {
    transform: translateY(100%);
}

/*
 | HTTP Error Pages
 | ----------------------------------------------------------------------
 */
#http-error {
    text-align: center;
    padding-top: 70px;
}

#http-error #tagline {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.42);
    font-size: 22px;
    background: var(--classic-blue);
    padding: 8px 20px;
    display: inline-block;
    margin-bottom: 12px;
    box-shadow: 4px 4px rgba(0,0,0,0.1);
}

#http-error > p:not(.tagline) {
    color: rgba(0,0,0,0.55);
    font-size: 15px;
}

/*
 | Text Selection Color
 | ----------------------------------------------------------------------
 */
::selection {
    background: #C6C6C6;
}
::-moz-selection {
    background: #C6C6C6;
}

/*
 | Application
 | ----------------------------------------------------------------------
 */
body.application {
    padding-top: 61px;
    background: #fff;
}

body.application.nightmode {
    background: hsl(210,35%,8%);
}

body.application nav .wrapper,
body.application main,
body.application .app-aside-float {
    max-width: 1184px;
    margin: 0 auto;
}

#app {
    display: -webkit-flex;
    display: flex;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    line-height: 18px;
    min-height: calc(100vh - 61px);
}

[v-cloak] {
  display:none;
}

/*
 | Application Main Content
 | ----------------------------------------------------------------------
 */
#app-content {
    flex-grow: 1;
    transition: transform 500ms ease;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 0;

    box-sizing: border-box;
    padding: 20px 24px 20px;
    /*
    background: hsla(220, 16%, 98%, 1);
    background: #f8fafc;*/
}

@media (max-width: 900px) {
    #app-content {
        margin: 0 !important;
        max-width: none;
        padding: 10px 10px;
        width: 100%;
    }
}

#app-content.no-gutter {
    margin: 0 !important;
    padding: 0 !important;
}

/*
 | In-App Footer
 | ----------------------------------------------------------------------
 */
.app-side-footer h5 {
    font-size: 12px;
    color: hsla(232,20%,32%,0.35);
}
.app-side-footer p {
    padding-left: 12px;
    line-height: 12px;
}
.app-side-footer a {
    color: hsla(232,20%,32%,0.5);
    font-size: 12px;
}
.app-side-footer a:hover {
    color: hsla(232,20%,32%,1);
}
.app-side-footer span {
    margin: 0 1px;
    color: hsla(232,20%,32%,0.4);
}

/*
 | Application Noscript Error Notice
 | ----------------------------------------------------------------------
 */
#app .error-notice.js-error-notice {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    padding: 0 10px;
    font-size: 13px;
    line-height: 16px;
    background: #d21818;
    color: #fff;
    border: 0;
}