:root {
    --classic-blue: #3daaf5;
    --link-blue: #3577BE;
    --deep-blue: #195DC7;
    --vibrant-blue: #2575FE;
    --washed-blue-1: #5489D7;
    --washed-blue-2: #5689D7;
    --dark-blue: #164E83;
    --darker-blue: #0D467F;
    --light-sea-blue: #EBFBFF;
    --light-purple-blue: #F3FAFF;
    --light-purple-blue2: #EDF4F9;
    --light-brown-gray: #BCB8BC;
    --light-gray: #9C9B9C;
    --gray-1: #515453;
    --gray-2: #565555;
}

body.nightmode {
    background: #000;
    filter: invert(100%) hue-rotate(180deg) !important;
}