
/*-------------------------
	Stuff
--------------------------*/

.fl { float: left; }
.flC > * { float: left; }
.fr { float: right; }
.frC > * { float: right; }

.w100p { width: 100%; }
.w95p { width: 95%; }
.w90p { width: 90%; }
.w85p { width: 85%; }
.w80p { width: 80%; }
.w75p { width: 75%; }
.w70p { width: 70%; }
.w65p { width: 65%; }
.w60p { width: 60%; }
.w55p { width: 55%; }
.w50p { width: 50%; }
.w45p { width: 45%; }
.w40p { width: 40%; }
.w37p { width: 37.5%; }
.w35p { width: 35%; }
.w33p { width: 33.3333%; }
.w30p { width: 30%; }
.w25p { width: 25%; }
.w20p { width: 20%; }
.w15p { width: 15%; }
.w10p { width: 10%; }
.w0p, .w0 { width: 0; }

.f100p { flex-basis: 100%; }
.f95p { flex-basis: 95%; }
.f90p { flex-basis: 90%; }
.f85p { flex-basis: 85%; }
.f80p { flex-basis: 80%; }
.f75p { flex-basis: 75%; }
.f70p { flex-basis: 70%; }
.f65p { flex-basis: 65%; }
.f60p { flex-basis: 60%; }
.f55p { flex-basis: 55%; }
.f50p { flex-basis: 50%; }
.f45p { flex-basis: 45%; }
.f40p { flex-basis: 40%; }
.f37p { flex-basis: 37.5%; }
.f35p { flex-basis: 35%; }
.f33p { flex-basis: 33.3333%; }
.f30p { flex-basis: 30%; }
.f25p { flex-basis: 25%; }
.f20p { flex-basis: 20%; }
.f15p { flex-basis: 15%; }
.f10p { flex-basis: 10%; }
.f0p, .f0 { flex-basis: 0; }

.h100p { height: 100%; }
.h50p { height: 50%; }
.h0p, .h0 { height: 0; }

.wSplit2  > * { width: 50%; }
.wSplit3  > * { width: 33.33%; }
.wSplit4  > * { width: 25%; }
.wSplit5  > * { width: 20%; }
.wSplit6  > * { width: 16.66%; }
.wSplit7  > * { width: 14.28%; }
.wSplit8  > * { width: 12.5%; }
.wSplit9  > * { width: 11.11%; }
.wSplit10 > * { width: 10%; }
.wSplit11 > * { width: 9.09%; }
.wSplit12 > * { width: 8.33%; }
.wSplit13 > * { width: 7.69%; }
.wSplit14 > * { width: 7.14%; }
.wSplit15 > * { width: 6.66%; }
.wSplit16 > * { width: 6.25%; }
.wSplit17 > * { width: 5.88%; }
.wSplit18 > * { width: 5.55%; }
.wSplit19 > * { width: 5.26%; }
.wSplit20 > * { width: 5%; }

.fsplit {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}
.fsplit2  > * { flex-basis: 50%; }
.fsplit3  > * { flex-basis: 33.33%; }
.fsplit4  > * { flex-basis: 25%; }
.fsplit5  > * { flex-basis: 20%; }
.fsplit6  > * { flex-basis: 16.66%; }
.fsplit7  > * { flex-basis: 14.28%; }
.fsplit8  > * { flex-basis: 12.5%; }
.fsplit9  > * { flex-basis: 11.11%; }
.fsplit10 > * { flex-basis: 10%; }
.fsplit11 > * { flex-basis: 9.09%; }
.fsplit12 > * { flex-basis: 8.33%; }
.fsplit13 > * { flex-basis: 7.69%; }
.fsplit14 > * { flex-basis: 7.14%; }
.fsplit15 > * { flex-basis: 6.66%; }
.fsplit16 > * { flex-basis: 6.25%; }
.fsplit17 > * { flex-basis: 5.88%; }
.fsplit18 > * { flex-basis: 5.55%; }
.fsplit19 > * { flex-basis: 5.26%; }
.fsplit20 > * { flex-basis: 5%; }

.valign {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
}
.talign {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important;
}
.balign {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important;
}

.calign {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center !important;
            justify-content: center !important;
}

.halign {
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-align-items: center !important;
            align-items: center !important;
}

.grow {
    -webkit-flex-grow: 1 !important;
    flex-grow: 1 !important;
}

.template { display: none !important; }

.dispBlock { display: block !important; }
.dispInline { display: inline !important; }
.dispInlineBlock { display: inline-block !important; }
.dispFlex { display: -webkit-flex !important; display: flex !important; }
.dispInlineFlex { display: inline-flex !important; }
.flexWrap { flex-wrap: wrap !important; }

.posStatic { position: static !important; }
.posRel { position: relative !important; }
.posAbs { position: absolute !important; }
.posFixed { position: fixed !important; }

.centerHoriz { margin: 0 auto; }
.centerVert { margin: auto 0; }
.centerBoth { margin: auto; }

.textAlignLeft { text-align: left; }
.textAlignRight { text-align: right; }
.textAlignCenter { text-align: center; }
.fontWeight100 { font-weight: 100; }
.fontWeight200 { font-weight: 200; }
.fontWeight300 { font-weight: 300; }
.fontWeight400 { font-weight: 400; }
.fontWeight500 { font-weight: 500; }
.fontWeight600 { font-weight: 600; }
.fontWeight700 { font-weight: 700; }

.fontItalic { font-style: italic; }

.clearfix:before,.clearfix:after, .cf:before, .cf:after {content:"";display:table;}
.clearfix:after, .cf:after {clear:both;}
.clearfix, .cf {zoom:1;}
.hide { display: none !important; }
.visHide { visibility: hidden !important; }

.full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
}
.full-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.opacity5p { opacity: 0.05; }
.opacity10p { opacity: 0.1; }
.opacity15p { opacity: 0.15; }
.opacity20p { opacity: 0.2; }
.opacity25p { opacity: 0.25; }
.opacity30p { opacity: 0.3; }
.opacity35p { opacity: 0.35; }
.opacity40p { opacity: 0.4; }
.opacity45p { opacity: 0.45; }
.opacity50p { opacity: 0.5; }
.opacity55p { opacity: 0.55; }
.opacity60p { opacity: 0.6; }
.opacity65p { opacity: 0.65; }
.opacity70p { opacity: 0.7; }
.opacity75p { opacity: 0.75; }
.opacity80p { opacity: 0.8; }
.opacity85p { opacity: 0.85; }
.opacity90p { opacity: 0.9; }
.opacity95p { opacity: 0.95; }
.opacity100p { opacity: 1; }

.spacer, .spacer-vert {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.spacer-horiz {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.spacer-all {
    margin: 15px !important;
}
.spacer-top {
    margin-top: 15px !important;
}
.spacer-bottom {
    margin-bottom: 15px !important;
}
.spacer-left {
    margin-left: 15px !important;
}
.spacer-right {
    margin-right: 15px !important;
}

.spacer10, .spacer10-vert {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.spacer10-horiz {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.spacer10-all {
    margin: 10px !important;
}
.spacer10-top {
    margin-top: 10px !important;
}
.spacer10-bottom {
    margin-bottom: 10px !important;
}
.spacer10-left {
    margin-left: 10px !important;
}
.spacer10-right {
    margin-right: 10px !important;
}

.spacer5, .spacer5-vert {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.spacer5-horiz {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.spacer5-all {
    margin: 5px !important;
}
.spacer5-top {
    margin-top: 5px !important;
}
.spacer5-bottom {
    margin-bottom: 5px !important;
}
.spacer5-left {
    margin-left: 5px !important;
}
.spacer5-right {
    margin-right: 5px !important;
}

.spacer3, .spacer3-vert {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.spacer3-horiz {
    margin-left: 3px !important;
    margin-right: 3px !important;
}
.spacer3-all {
    margin: 3px !important;
}
.spacer3-top {
    margin-top: 3px !important;
}
.spacer3-bottom {
    margin-bottom: 3px !important;
}
.spacer3-left {
    margin-left: 3px !important;
}
.spacer3-right {
    margin-right: 3px !important;
}

.spacer20, .spacer20-vert {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.spacer20-horiz {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.spacer20-all {
    margin: 20px !important;
}
.spacer20-top {
    margin-top: 20px !important;
}
.spacer20-bottom {
    margin-bottom: 20px !important;
}
.spacer20-left {
    margin-left: 20px !important;
}
.spacer20-right {
    margin-right: 20px !important;
}


.flash {
    animation: flash 1s ease-out;
}

@keyframes flash {
    0% {
        background: transparent;
    }
    20% {
        background: #ffc;
    }
}
.hard-flash {
    animation: hard-flash 500ms ease-out;
}

@keyframes hard-flash {
    0% {
        background: transparent;
    }
    20% {
        background: red;
    }
}