.icon39 {
    display: block;
    box-sizing: border-box;
    height: 39px;
    width: 39px;
    line-height: 39px;
    margin-left: 3px;
    text-align: center;
    font-size: 20px;
    color: rgba(0,0,0,0.4);
    border-radius: 3px;
    cursor: pointer;
}
.icon39:hover {
    background: #f2f2f2;
    color: rgba(0,0,0,0.5);
}

.icon28 {
    display: inline-block;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    line-height: 28px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    font-size: 15px;
    color: hsla(232,20%,32%,0.25);
    border-radius: 3px;
    cursor: pointer;
}
.icon28.icon28--noradius {
    border-radius: 0;
}
.icon28.icon28--rounded {
    border-radius: 50%;
}
.icon28:hover {
    color: hsla(232,20%,32%,0.5);
    background: hsla(232,20%,32%,0.08);
}

/*
 | Help icon
 | ----------------------------------------------------------------------
 */
.icon--help {
    position: relative;
    color: rgba(0,0,0,0.35);
}
.icon--help:hover {
    color: rgba(0,0,0,0.45);
}

span > .icon--help {
    margin: 0 5px;
}

span > .icon--help:first-child {
    margin-left: 0;
}
span > .icon--help:last-child {
    margin-right: 0;
}

/*
 | Tooltip (tippy)
 | ----------------------------------------------------------------------
 */
.tippy-tooltip.layer7-theme {
    background-color: hsla(232,20%,27%,1);
    border: 0;
    color: #fff;
}
.tippy-popper[x-placement^='top'] .tippy-tooltip.layer7-theme .tippy-arrow {
  border-top-color: hsla(232,20%,27%,1);
}
.tippy-popper[x-placement^='bottom'] .tippy-tooltip.layer7-theme .tippy-arrow {
  border-bottom-color: hsla(232,20%,27%,1);
}
.tippy-popper[x-placement^='left'] .tippy-tooltip.layer7-theme .tippy-arrow {
  border-left-color: hsla(232,20%,27%,1);
}
.tippy-popper[x-placement^='right'] .tippy-tooltip.layer7-theme .tippy-arrow {
  border-right-color: hsla(232,20%,27%,1);
}

/*
 | Submit Button Status
 | ----------------------------------------------------------------------
 */

.submit-button-status {
    display: none;
}
.submit-button[disabled] + .submit-button-status {
    display: block;
    opacity: 0.8;
    text-align: center;
}

/*
 | Colors
 | ----------------------------------------------------------------------
 */

.green {
    color: #53bf6b;
}
.red {
    color: #E64548;
}
.blue {
    color: #15A4FA
}
.yellow {
    color: #E6C149;
}
.black {
    background: #555;
}

.greenbg {
    background: rgba(83, 191, 107, 0.2);
}
.redbg {
    background: rgba(230, 69, 72, 0.2);
}
.bluebg {
    background: rgba(21, 164, 250, 0.2);
}
.yellowbg {
    background: rgba(230, 193, 73, 0.2);
}
.blackbg {
    background: rgba(85, 85, 85, 0.2);
}