/*
 | SIDE
 | ----------------------------------------------------------------------
 */
.side {
    position: relative;
    padding-top: 10px;
    width: 235px;
    flex-basis: 235px;
    min-width: 235px;
    transition: transform 500ms ease;
    background: hsla(210, 40%, 96%, 0.6);
    z-index: 99999;
    background: #f8fafc;
    border-right: 1px solid #f0f0f0;
}

.side hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: hsla(210, 33%, 93%, 1);
}

/*
 | MOBILE TRIGGER
 | ----------------------------------------------------------------------
 */

.side-mobi-header {
    display: none;
}

body.page--mobi_open:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.05);
    z-index: 999998;
    display: none;
}

@media (max-width: 900px) {
    body.page--mobi_open:before {
        display: block;
    }

    body.application .side-mobi-header {
        height: 64px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: center;
        justify-content: center;
    }

    body.application .side-mobi-header span {
        font-size: 12px;
    }

    body.application #app-side .nav-logo-a {
        color: #354049;
    }

    body.application #app-side {
        position: fixed;
        background: white;
        z-index: 999999;
        margin-top: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-235px);
        -webkit-transform: translateX(-235px);
        -moz-transform: translateX(-235px);
        -ms-transform: translateX(-235px);
        -o-transform: translateX(-235px);
        transition: .2s -webkit-transform ease-in-out;
        -webkit-transition: .2s -webkit-transform ease-in-out;
        -moz-transition: .2s -moz-transform ease-in-out;
        -ms-transition: .2s -ms-transform ease-in-out;
        -o-transition: .2s -o-transform ease-in-out;
        box-shadow: none;
    }

    body.application #app-side.mobi-open {
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}


/*
 | SIDE GROUP
 | ----------------------------------------------------------------------
 */

.side-group {
    width: 180px;
    margin: 0 auto;
    border-top: 1px solid #e1e4e6;
    padding: 20px 0;
}

.side-group-top {
    border: 0;
    margin: 0 auto;
    padding: 10px 0;
}

.side-group > .header {
    height: 26px;
    line-height: 26px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
}

.side-group > .header > .icon:last-child {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 2px;
    font-size: 19px;
    height: 12px;
    line-height: 12px;
}

.side-group > .content > .list > :first-child {
    margin-top: 0;
}
.side-group > .content > .list > :last-child {
    margin-bottom: 0;
}

/*
 | SIDE ITEM
 | ----------------------------------------------------------------------
 */

.side-item {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 4px 0;
    line-height: 28px;
    transition: background 50ms;
    position: relative;
    font-family: 'Source Sans Pro',Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.side-item.big-item {
    font-size: 16px;
}

/* default color */
.side-item,
.side-item > * {
    color: hsla(232, 20%, 32%, 0.8);
}

/* hover color */
.side-item:hover,
.side-item:hover > * {
    cursor: pointer;
    color: hsla(232, 20%, 32%, 0.55);
}

/* selected color */
.side-item.selected,
.side-item.selected > *,
.side-item > .icon.zmdi-chevron-right.selected {
    color: var(--vibrant-blue);
}
.side-item > .icon.zmdi-chevron-right.selected {
    font-weight: bold;
}

/* internal */
.side-item > :last-child {
    flex-grow: 1;
}

.side-item > .icon:first-child {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    width: 20px;
    font-weight: bold;
    opacity: 0.8;
}