/*-------------------------
	Simple reset
--------------------------*/

* { margin: 0; padding: 0; }

html, body {
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 17px;
    line-height: 28px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

section, footer, header, aside, nav{
    display: block;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    outline: 0 none;
}

a {
    color: var(--link-blue);
	text-decoration: none;
    outline: 0;
    border: none;
}

a:hover {
	text-decoration: none;
    cursor: pointer;
}

/*
 | Headers
 | ----------------------------------------------------------------------
 */

h1,h2,h3 {
    font-weight: 300;
}

h3 {
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
}

h4 {
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 15px;
}

/*
 | Tables
 | ----------------------------------------------------------------------
 */

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    padding: 0 10px;
    line-height: 28px;
    box-sizing: border-box;
}
table thead th {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(0,0,0,0.55);
    border-bottom: 1px solid rgba(0,0,0,0.09);
    text-align: left;
}

/*
 | Other
 | ----------------------------------------------------------------------
 */
kbd {
    border: 1px solid gray;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    height: 19px;
    font-weight: bold;
    box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 5px;
}

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: rgba(0,0,0,0.08);
    margin: 5px 0;
}
.code, code {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
        'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}