.Modmail {
    border-top: 1px solid #ccc;
}
.ModmailAddressBar {
    background-color: #eee;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.ModmailSubjectBar {
    margin: 8px 8px 0;
    border-left: 3px solid #ccc;
    padding-left: 5px;
}
.ModmailAddressItem {
    padding: 0 5px;
    font-size: 12px;
}
.ModmailAddressItem span:first-child {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 10px;
}
.ModmailBody {
    padding: 8px;
}
.Modmail .md p {
    margin: 5px 0;
}
.Modmail .md ol, .Modmail .md ul {
    padding-left: 25px;
    margin: 8px 0;
}
.Modmail .highlight {
    background-color: yellow;
}