.ModmailSearch_Wrap {
    max-width: 820px;
    margin: 0 auto;
    width: 100%;
}

#ModmailSearch__Result {
    position: relative;
    margin-top: 10px;
}

#ModmailSearch__Header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E1E4E6;
    margin-bottom: 10px;
}
#ModmailSearch__Header > h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #BDC2CA;
    font-family: Open Sans, sans-serif;
    margin: 10px 0 5px;
}