/* Basic styles
--------------------------------------------------------------------------------*/

#ModlogForm h5 {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 12px;
    margin-right: 10px;
}

/* Chooser styles
--------------------------------------------------------------------------------*/

#ModlogForm .ChooserTop {
    margin-bottom: 0;
    background: #f7f9fb;
    border-bottom: 1px solid hsla(232,20%,32%,0.2);
    border-top: 1px solid hsla(232,20%,32%,0.15);
}

#ModlogForm .Chooser .ChooserOption input:not(:checked) ~ span:before {
    border-color: hsla(217, 11%, 70%, 1);
    background: rgba(255,255,255,0.5);
}
#ModlogForm .Chooser .ChooserOption:not(.ChooserOption--all) input:checked ~ span:before {
    background: hsla(200, 15%, 78%, 1);
    border-color: hsla(200, 15%, 78%, 1);
}


#ModlogForm .Chooser .ChooserOption input ~ span:before {
    height: 12px;
    width: 12px;
    line-height: 12px;
    font-size: 10px;
}

#ModlogForm .Chooser .ChooserOption span {
    color: hsla(217, 11%, 45%, 1);
}

#ModlogForm .Chooser .ChooserOption.is--past_mod span {
    color: hsla(217, 50%, 45%, 0.7);
}


#ModlogForm .Chooser .ChooserOption:hover {
    background: hsla(200, 15%, 78%, 0.3);
    border-radius: 3px;
}
#ModlogForm .Chooser .ChooserOption:hover span {
    color: hsla(217, 11%, 15%, 1);
}
#ModlogForm .Chooser .ChooserOption:hover input:not(:checked) ~ span:before {
    border-color: hsla(217, 11%, 60%, 1);
}
#ModlogForm .Chooser .ChooserOption:not(.ChooserOption--all):hover input:checked ~ span:before {
    background: hsla(200, 15%, 65%, 1);
    border-color: hsla(200, 15%, 65%, 1);
}

/* Full screen mode
--------------------------------------------------------------------------------*/

/* --- site containers --- */
.page--logs_matrix--FullScreen main,
.page--logs_matrix--FullScreen #app-content {
    display: block;
    margin: 0 !important;
    max-width: none !important;
    padding: 0 !important;
}


/* --- hide other stuff --- */
.page--logs_matrix--FullScreen #app-side,
.page--logs_matrix--FullScreen #modlog-module > *:not(#modlog-form-output-wrapper) {
    display: none !important;
}

/* --- header --- */

.page--logs_matrix--FullScreen #modlog-module-header {
    margin-bottom: 0 !important;
}
.page--logs_matrix--FullScreen #modlog-module-header a {
    margin-right: 0;
}

/* --- output area --- */

.page--logs_matrix--FullScreen #modlog-form-output-wrapper {
    padding: 0;
    margin: 0;
}
.page--logs_matrix--FullScreen #modlog-form-output-wrapper .header {
    display: none;
}
.page--logs_matrix--FullScreen #modlog-form-output-wrapper .valign.content {
    padding: 8px 12px !important;
}

/* --- nav --- */

body.application.page--logs_matrix--FullScreen {
    padding-top: 0;
}
body.application.page--logs_matrix--FullScreen nav {
    position: relative;
    border-bottom: 0;
}
body.application.page--logs_matrix--FullScreen nav,
body.application.page--logs_matrix--FullScreen nav .wrapper {
    height: 45px;
}
body.application.page--logs_matrix--FullScreen nav .wrapper {
    max-width: none;
    padding: 0 10px;
}
body.application.page--logs_matrix--FullScreen nav .fl > a:not(.nav-logo-a) {
    display: none;
}

/* mod actions chooser
--------------------------------------------------------------------------------*/
#ModlogField__columnsFilter section {
    border-right: 1px solid hsla(232,20%,32%,0.2);
    border-bottom: 1px solid hsla(232,20%,32%,0.2);
    box-sizing: border-box;
}

#ModlogField__columnsFilter section > h3 {
    text-transform: uppercase;
    font-family: 'Open Sans', 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
}
#ModlogField__columnsFilter section .content {
    padding: 0 5px 5px;
}
#ModlogField__columnsFilter section label {
    width: 100%;
    padding-left: 5px;
    border-radius: 3px;
}
#ModlogField__columnsFilter section label:hover {
    background: hsla(200, 15%, 78%, 0.25);
}



#ModlogField__columnsFilter section {
    width: 20%;
}
#ModlogField__columnsFilter section:nth-of-type(5n) {
    border-right-width: 0;
}
@media (max-width: 1420px) {
    #ModlogField__columnsFilter section {
        width: 25%;
    }
    #ModlogField__columnsFilter section:nth-of-type(5n) {
        border-right-width: 1px;
    }
    #ModlogField__columnsFilter section:nth-of-type(4n) {
        border-right-width: 0;
    }
}
@media (max-width: 1180px) {
    #ModlogField__columnsFilter section {
        width: 33.333%;
    }
    #ModlogField__columnsFilter section:nth-of-type(4n) {
        border-right-width: 1px;
    }
    #ModlogField__columnsFilter section:nth-of-type(3n) {
        border-right-width: 0;
    }
}