.matrix {
    border-top: 1px solid #dee0df;
}
.matrix.no-empty-columns [data-column-count="0"] {
    display: none !important;
}

.matrix-main {
    position: relative;
}
.matrix .matrix-header-col {
    font-size: 9px;
    color: rgba(0,0,0,0.55);
    border-bottom: 1px solid rgba(0,0,0,0.09);
    text-align: center;
    padding: 0 !important;
}
.matrix-header, .matrix-row {
    white-space: nowrap;
}
.matrix-header {
    display: -webkit-flex;
    display: flex;
    height: 24px;
}
.matrix-table {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -20px;
    left: 130px;
    overflow-x: hidden;
}
.matrix .matrix-head {
    width: 130px;
    margin-bottom: 17px;
    border-right: 1px solid #dee0df;
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.matrix-datawrap {
    position: absolute;
    top: 0;
    will-change: left;
}
.matrix-data {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.matrix [data-mod] {
    order: 1;
}
.matrix-total-label, .matrix-total-row {
    order: 99999;
}

.matrix .matrix-item {
    display: inline-block;
    line-height: 24px;
    height: 24px;
    padding-left: 4px;
    width: 38px;
    box-sizing: border-box;
    font-size: 10px;
}
.matrix .matrix-item.headcol {
    width: 130px;
    font-size: 10px;
    padding: 0 5px;
}

.matrix .matrix-item.matrix-total-label,
.matrix .matrix-total-row {
    border-top: 1px solid #dee0df;
}
.matrix .matrix-item--total {
    border-left: 1px solid #dee0df;
}
.matrix .matrix-item--percent {
    border-right: 1px solid #dee0df;
}

.matrix-runtime-info {
    border-top: 20px solid hsla(195,22%,92%,1);
    padding: 5px;
    font-size: 10px;
    color: rgba(0,0,0,0.5);
    margin-top: -17px;
}


.matrix-header-col.modactions:before {
    margin-top: 4px;
}

.matrix-highlight {
    background: hsla(47, 100%, 93%, 1);
}

.matrix-row:not(.matrix-highlight):hover {
    background: #f9f9f9;
}

/*----------------------------------------------------------------------*/

.matrix-xscroll {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    overflow: visible;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.matrix-xscroll__float {
    display: block;
    position: fixed;
    bottom: 0;
    height: 20px;
    z-index: 99999;
}

.matrix-xscroll.matrix-xscroll--static .matrix-xscroll__float {
    position: absolute;
    left: 0 !important;
    right: 0;
}

.matrix-xscroll.matrix-xscroll--static .matrix-xscroll__float .matrix-xscroll__outerTrack {
    bottom: 2.5px;
}

.matrix-xscroll__outerTrack {
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 14px;
    right: 6px;
    bottom: 4px;
    left: 6px;
    border-radius: 7px;
    background: rgba(255,255,255,0.6);
    border: 1px solid rgba(0,0,0,0.15);
    cursor: default;
}
.matrix-xscroll__track {
    display: block;
    position: absolute;
    top: 0;
    right: 1.5px;
    bottom: 0;
    left: 1.5px;
    cursor: default;
}

.matrix-xscroll__thumb {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: default;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.matrix-xscroll__thumbInner {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10px;
    margin: auto 0;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}
.matrix-xscroll__thumb:hover .matrix-xscroll__thumbInner,
.matrix-xscroll__thumb.active .matrix-xscroll__thumbInner {
    background: rgba(0,0,0,0.6);
}