i.modactions {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
}
i.modactions:before {
    position: absolute;
    top: 0;
    left: 0;
}
.modactions:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(https://static.layer7.solutions/sprite-reddit.png) no-repeat;
}
.modactions-banuser:before { background-position: -88px -810px; }
.modactions-unbanuser:before { background-position: -22px -766px; }
.modactions-muteuser:before { background-position: -88px -832px; }
.modactions-unmuteuser:before { background-position: -66px -766px; }
.modactions-removelink:before { background-position: 0px -744px; }
.modactions-approvelink:before { background-position: -66px -678px; }
.modactions-removecomment:before { background-position: -66px -722px; }
.modactions-approvecomment:before { background-position: -44px -700px; }
.modactions-addmoderator:before,
.modactions-invitemoderator:before,
.modactions-acceptmoderatorinvite:before { background-position: 0px -678px; }
.modactions-removemoderator:before,
.modactions-uninvitemoderator:before { background-position: -22px -744px; }
.modactions-addcontributor:before { background-position: -22px -700px; }
.modactions-removecontributor:before { background-position: -88px -722px; }
.modactions-wikipagelisted:before,
.modactions-editsettings:before { background-position: 0px -832px; }
.modactions-editflair:before { background-position: -44px -832px; }
.modactions-distinguish:before { background-position: 0px -722px; }
.modactions-marknsfw:before { background-position: -44px -722px; }
.modactions-wikirevise:before { background-position: -44px -788px; }
.modactions-wikipermlevel:before { background-position: -22px -788px; }
.modactions-wikibanned:before { background-position: -88px -810px; }
.modactions-wikiunbanned:before { background-position: -22px -766px; }
.modactions-wikicontributor:before { background-position: -22px -700px; }
.modactions-removewikicontributor:before { background-position: -88px -722px; }
.modactions-ignorereports:before { background-position: -88px -832px; }
.modactions-unignorereports:before { background-position: -66px -766px; }
.modactions-setpermissions:before { background-position: -66px -744px; }
.modactions-setsuggestedsort:before { background-position: -88px -744px; }
.modactions-sticky:before { background-position: 0px -766px; }
.modactions-unsticky:before { background-position: 0px -788px; }
.modactions-setcontestmode:before { background-position: -44px -744px; }
.modactions-unsetcontestmode:before { background-position: -88px -766px; }
.modactions-lock:before { background-position: -22px -722px; }
.modactions-unlock:before { background-position: -44px -766px; }
.modactions-createrule:before { background-position: -66px -700px; }
.modactions-editrule:before { background-position: -22px -854px; }
.modactions-deleterule:before { background-position: -88px -700px; }
.modactions-modmail_enrollment:before { background-position: -87px -678px; }
.modactions-spamlink:before { background-position: -44px -854px; }
.modactions-spamcomment:before { background-position: -44px -854px; }
.modactions-spoiler:before {background-position: 0px -855px;}
.modactions-unspoiler:before {background-position: 0px -855px;
-webkit-filter: grayscale(1) brightness(1.1); filter: grayscale(1) brightness(1.1); }
.modactions-community_styling:before { background-position: -44px -788px; }
.modactions-community_widgets:before {background-position: -22px -810px;}
.modactions-markoriginalcontent:before { background-position: -44px -832px; }

.modactions-create_award:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill-rule='evenodd'%3E%3Cg fill='%2353bf6b'%3E%3Cpath d='m15.1275768 8.9935-2.059 2.204.371 2.992c.022.181-.055.359-.203.466-.087.064-.19.096-.294.096-.072 0-.144-.016-.211-.047l-2.73200003-1.277-2.731 1.277c-.164.076-.359.059-.506-.049-.148-.107-.225-.285-.202-.466l.37-2.992-2.059-2.204c-.124-.133-.166-.323-.11-.496s.202-.302.381-.336l2.96-.573 1.46-2.639c.175-.318.69900003-.318.87500003 0l1.46 2.639 2.959.573c.179.034.325.163.381.336s.014.363-.11.496m2.911-2.985-6.586-4.786c-.869-.63-2.03700003-.63-2.90600003 0v.001l-6.586 4.785c-.869.631-1.23 1.742-.898 2.764l2.515 7.743c.332 1.021 1.278 1.708 2.352 1.708h8.14000003c1.075 0 2.02-.687 2.352-1.708l2.516-7.743c.332-1.022-.03-2.133-.899-2.764'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
    background-size: 16px;
}

.modactions-disable_award:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill-rule='evenodd'%3E%3Cg fill='%23aaa'%3E%3Cpath d='m15.1275768 8.9935-2.059 2.204.371 2.992c.022.181-.055.359-.203.466-.087.064-.19.096-.294.096-.072 0-.144-.016-.211-.047l-2.73200003-1.277-2.731 1.277c-.164.076-.359.059-.506-.049-.148-.107-.225-.285-.202-.466l.37-2.992-2.059-2.204c-.124-.133-.166-.323-.11-.496s.202-.302.381-.336l2.96-.573 1.46-2.639c.175-.318.69900003-.318.87500003 0l1.46 2.639 2.959.573c.179.034.325.163.381.336s.014.363-.11.496m2.911-2.985-6.586-4.786c-.869-.63-2.03700003-.63-2.90600003 0v.001l-6.586 4.785c-.869.631-1.23 1.742-.898 2.764l2.515 7.743c.332 1.021 1.278 1.708 2.352 1.708h8.14000003c1.075 0 2.02-.687 2.352-1.708l2.516-7.743c.332-1.022-.03-2.133-.899-2.764'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
    background-size: 16px;
}

.modactions-delete_award:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill-rule='evenodd'%3E%3Cg fill='%23E64548'%3E%3Cpath d='m15.1275768 8.9935-2.059 2.204.371 2.992c.022.181-.055.359-.203.466-.087.064-.19.096-.294.096-.072 0-.144-.016-.211-.047l-2.73200003-1.277-2.731 1.277c-.164.076-.359.059-.506-.049-.148-.107-.225-.285-.202-.466l.37-2.992-2.059-2.204c-.124-.133-.166-.323-.11-.496s.202-.302.381-.336l2.96-.573 1.46-2.639c.175-.318.69900003-.318.87500003 0l1.46 2.639 2.959.573c.179.034.325.163.381.336s.014.363-.11.496m2.911-2.985-6.586-4.786c-.869-.63-2.03700003-.63-2.90600003 0v.001l-6.586 4.785c-.869.631-1.23 1.742-.898 2.764l2.515 7.743c.332 1.021 1.278 1.708 2.352 1.708h8.14000003c1.075 0 2.02-.687 2.352-1.708l2.516-7.743c.332-1.022-.03-2.133-.899-2.764'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
    background-size: 16px;
}

.modactions-mod_award_given:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill-rule='evenodd'%3E%3Cg fill='%23E6C149'%3E%3Cpath d='m15.1275768 8.9935-2.059 2.204.371 2.992c.022.181-.055.359-.203.466-.087.064-.19.096-.294.096-.072 0-.144-.016-.211-.047l-2.73200003-1.277-2.731 1.277c-.164.076-.359.059-.506-.049-.148-.107-.225-.285-.202-.466l.37-2.992-2.059-2.204c-.124-.133-.166-.323-.11-.496s.202-.302.381-.336l2.96-.573 1.46-2.639c.175-.318.69900003-.318.87500003 0l1.46 2.639 2.959.573c.179.034.325.163.381.336s.014.363-.11.496m2.911-2.985-6.586-4.786c-.869-.63-2.03700003-.63-2.90600003 0v.001l-6.586 4.785c-.869.631-1.23 1.742-.898 2.764l2.515 7.743c.332 1.021 1.278 1.708 2.352 1.708h8.14000003c1.075 0 2.02-.687 2.352-1.708l2.516-7.743c.332-1.022-.03-2.133-.899-2.764'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
    background-size: 16px;
}

.modactions-collections:before {background-position: 0px -876px;}

.modactions.modactions-remove_community_topics:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='%23E64548' d='M176 80c-52.94 0-96 43.06-96 96 0 8.84 7.16 16 16 16s16-7.16 16-16c0-35.3 28.72-64 64-64 8.84 0 16-7.16 16-16s-7.16-16-16-16zM96.06 459.17c0 3.15.93 6.22 2.68 8.84l24.51 36.84c2.97 4.46 7.97 7.14 13.32 7.14h78.85c5.36 0 10.36-2.68 13.32-7.14l24.51-36.84c1.74-2.62 2.67-5.7 2.68-8.84l.05-43.18H96.02l.04 43.18zM176 0C73.72 0 0 82.97 0 176c0 44.37 16.45 84.85 43.56 115.78 16.64 18.99 42.74 58.8 52.42 92.16v.06h48v-.12c-.01-4.77-.72-9.51-2.15-14.07-5.59-17.81-22.82-64.77-62.17-109.67-20.54-23.43-31.52-53.15-31.61-84.14-.2-73.64 59.67-128 127.95-128 70.58 0 128 57.42 128 128 0 30.97-11.24 60.85-31.65 84.14-39.11 44.61-56.42 91.47-62.1 109.46a47.507 47.507 0 0 0-2.22 14.3v.1h48v-.05c9.68-33.37 35.78-73.18 52.42-92.16C335.55 260.85 352 220.37 352 176 352 78.8 273.2 0 176 0z' class=''%3E%3C/path%3E%3C/svg%3E") no-repeat center / 11px;
}

.modactions.modactions-add_community_topics:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='%2353bf6b' d='M176 80c-52.94 0-96 43.06-96 96 0 8.84 7.16 16 16 16s16-7.16 16-16c0-35.3 28.72-64 64-64 8.84 0 16-7.16 16-16s-7.16-16-16-16zM96.06 459.17c0 3.15.93 6.22 2.68 8.84l24.51 36.84c2.97 4.46 7.97 7.14 13.32 7.14h78.85c5.36 0 10.36-2.68 13.32-7.14l24.51-36.84c1.74-2.62 2.67-5.7 2.68-8.84l.05-43.18H96.02l.04 43.18zM176 0C73.72 0 0 82.97 0 176c0 44.37 16.45 84.85 43.56 115.78 16.64 18.99 42.74 58.8 52.42 92.16v.06h48v-.12c-.01-4.77-.72-9.51-2.15-14.07-5.59-17.81-22.82-64.77-62.17-109.67-20.54-23.43-31.52-53.15-31.61-84.14-.2-73.64 59.67-128 127.95-128 70.58 0 128 57.42 128 128 0 30.97-11.24 60.85-31.65 84.14-39.11 44.61-56.42 91.47-62.1 109.46a47.507 47.507 0 0 0-2.22 14.3v.1h48v-.05c9.68-33.37 35.78-73.18 52.42-92.16C335.55 260.85 352 220.37 352 176 352 78.8 273.2 0 176 0z' class=''%3E%3C/path%3E%3C/svg%3E") no-repeat center / 11px;
}

.modactions.modactions-events:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 397.061 397.061'%3E%3Cg fill='%23aaa'%3E%3Cpath d='M86.204,67.918h31.347c1.443,0,2.612-1.17,2.612-2.612V2.612c0-1.443-1.169-2.612-2.612-2.612H86.204 c-1.443,0-2.612,1.17-2.612,2.612v62.694C83.592,66.749,84.761,67.918,86.204,67.918z'/%3E%3Cpath d='M367.804,47.02h-38.661v16.718c0,9.927-7.314,19.853-17.241,19.853h-30.824c-10.637-0.754-19.099-9.216-19.853-19.853 V47.02H135.837v16.718c-0.754,10.637-9.216,19.099-19.853,19.853H85.159c-9.927,0-17.241-9.927-17.241-19.853V47.02H29.257 C15.9,47.305,5.221,58.216,5.224,71.576v64.261h386.612V71.576C391.84,58.216,381.161,47.305,367.804,47.02z'/%3E%3Cpath d='M279.51,67.918h31.347c1.443,0,2.612-1.17,2.612-2.612V2.612c0-1.443-1.17-2.612-2.612-2.612H279.51 c-1.443,0-2.612,1.17-2.612,2.612v62.694C276.898,66.749,278.067,67.918,279.51,67.918z'/%3E%3Cpath d='M159.347,291.527l-7.314,42.318l37.616-19.853l3.657-1.045l3.657,1.045l37.616,19.853l-7.314-42.318 c-0.279-2.456,0.478-4.917,2.09-6.792l30.825-29.257l-42.318-6.269c-2.474-0.395-4.609-1.948-5.747-4.18l-18.808-38.139 l-18.808,38.139c-1.138,2.232-3.273,3.785-5.747,4.18l-42.318,6.269l30.825,29.257 C158.869,286.609,159.626,289.07,159.347,291.527z'/%3E%3Cpath d='M5.224,373.551c0.284,13.068,10.961,23.513,24.033,23.51h338.547c13.071,0.003,23.748-10.442,24.033-23.51V151.51H5.224 V373.551z M102.4,247.641c0.834-2.854,3.312-4.919,6.269-5.224l53.812-8.359l24.033-48.588c2.159-3.751,6.951-5.041,10.702-2.882 c1.198,0.69,2.192,1.684,2.882,2.882l24.033,48.588l53.812,8.359c2.957,0.305,5.436,2.371,6.269,5.224 c0.948,2.795,0.124,5.885-2.09,7.837l-38.661,37.616l9.404,53.812c0.363,2.827-0.838,5.628-3.135,7.314 c-1.373,0.986-3.012,1.532-4.702,1.567c-1.307,0.124-2.613-0.249-3.657-1.045l-48.065-25.078l-48.065,25.078 c-2.62,1.596-5.958,1.388-8.359-0.522c-2.297-1.687-3.497-4.488-3.135-7.314l9.404-53.812l-38.661-37.616 C102.276,253.526,101.452,250.435,102.4,247.641z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / 15px;
}