
.LogsView_Wrap {
    max-width: 820px;
    margin: 0 auto;
    width: 100%;
}

#LogsView__Result {
    position: relative;
    margin-top: 10px;
}

#LogsView__Result.card.LogsView__Result--noresult,
#LogsView__Result.card.LogsView__Result--incomplete {
    box-shadow: none;
}

.asi.asi--helper-visible ~ #LogsView__Result:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.6);
    z-index: 50;
}

#LogsView__Header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E1E4E6;
    margin-bottom: 10px;
}
#LogsView__Header > h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #BDC2CA;
    font-family: Open Sans, sans-serif;
    margin: 10px 0 5px;
}
#LogsView__Header__PageOpts {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
#LogsView__Header__PageOpts > span {
    margin-right: 10px;
    color: rgba(0,0,0,0.35);
}
#LogView__Settings {
    display: block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #aaa;
    margin-left: 3px;
    cursor: pointer;
}
#LogView__Settings:hover {
    color: #777;
    background: #ededed;
}

.LogTableNav {
    /* background: #F4F6FA; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    height: 30px;
    border-top: 1px solid #DFE3E6;
    border-bottom: 1px solid #DFE3E6;
    margin-bottom: -1px;
    position: relative;
    z-index: 10;
}

button.LogTableNav--First,
button.LogTableNav--Prev,
button.LogTableNav--Next,
button.LogTableNavButton {
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 5px 8px;
    color: hsla(200, 15%, 60%, 1);
    transition: background 100ms ease, color 100ms ease;
}


button.LogTableNavButton:hover,
button.LogTableNav--First:hover,
button.LogTableNav--Prev:hover,
button.LogTableNav--Next:hover {
    color: white;
    background: hsla(200, 15%, 60%, 1);
}

button.LogTableNavButton,
button.LogTableNavButton span,
button.LogTableNav--First span,
button.LogTableNav--Prev span,
button.LogTableNav--Next span {
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

button.LogTableNav--First .icon,
button.LogTableNav--Prev .icon {
    margin-right: 5px;
}

button.LogTableNav--Next .icon {
    margin-left: 5px;
}


.LogRow {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    border-top: 1px solid #E1E4E6;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 15px;
    font-size: 12px;
    padding: 7px 12px;
}
.LogRow:first-child {
    border-top: 0;
}

.LogProperty.LogProperty--timestamp {
    width: 95px;
    flex-basis: 95px;
    font-size: 11px;
    flex-grow: 0;
    flex-shrink: 0;
    color: hsla(232,20%,32%,0.58);
}

.LogProperty.LogProperty--mod_sub {
    width: 250px;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}

.LogProperty.LogProperty--mod_sub > * {
    display: inline-block;
}
.LogProperty.LogProperty--mod_sub > span:before {
    content: '|';
    color: rgba(0,0,0,0.5);
}

.LogProperty.LogProperty--actiontype, .LogProperty.LogProperty--actiontype span {
    position: relative;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
}
.LogProperty.LogProperty--actiontype > span {
    position: absolute;
    top: 0;
    left: 0;
}
.LogProperty.LogProperty--actiontype > span:before {
    transform: scale(0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.LogProperty.LogProperty--desc {
    margin-left: 5px;
    word-break: break-all;
}


.LogProperty--thingmetashow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 18px;
    margin-top: 1px;
}

.LogProperty--thingmetashow > .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: rgba(0,0,0,0.25);
    background: white;
    font-size: 12px;
    width: 18px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    border: 1px solid transparent;
}

.LogProperty--thingmetashow:hover {
    width: 500px;
}

.LogProperty--thingmetashow:hover > .icon {
    border-color: #c2c2c2;
    z-index: 600;
    border-left-color: #fff;
}
.LogProperty--thingmetashow:hover .LogProperty--thingmeta {
    display: block;
}

.LogProperty--thingmeta {
    position: absolute;
    display: none;
    top: 0;
    right: 18px;
    min-width: 500px;
    background: white;
    z-index: 500;
    padding: 10px;
    border: 1px solid #c2c2c2;
}

.LogProperty--thingmeta .label {
    height: 22px;
    line-height: 22px;
}
.LogProperty--thingmeta .label + span {
    display: inline-block;
    margin: 0 4px;
    color: rgba(0,0,0,0.5);
}

.LogProperty--thingmetatitle {
    font-size: 13px;
    line-height: 17px;
    padding-top: 5px;
    padding-bottom: 8px;
}
.LogProperty--thingmetabody {
    margin-top: 2px;
    padding-top: 5px;
}
.LogProperty--thingmeta--post .LogProperty--thingmetabody {
    border-top: 1px solid rgba(0,0,0,0.4);
}

.LogProperty--thingmetabody ul, .LogProperty--thingmetabody ol {
    padding-left: 25px;
}

.LogProperty--thingmeta > a {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #333;
    background: #f8f8f8;
}
.LogProperty--thingmeta > a:hover {
    background: #f3f3f3;
}
.LogProperty--thingmetaflair {
    margin-left: 5px;
    background-color: #C7C7C7;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 5px;
}


.LogProperty--thingmeta--InListing > .icon {
    display: none;
}
.LogProperty--thingmeta--InListing .LogProperty--thingmeta {
    position: relative;
    display: block;
    min-width: initial;
    width: 100%;
    box-sizing: border-box;
    right: 0;
}
.LogProperty--thingmetashow.LogProperty--thingmeta--InListing {
    position: static;
    margin: 0;
    width: 100%;
}
.LogProperty--thingmeta--InListing .LogProperty--thingmetabody {
    max-height: 100px;
    overflow-y: auto;
}

@media (max-width: 660px) {
    .LogRow {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        min-height: 35px;
    }

    .LogProperty.LogProperty--actiontype {
        position: absolute;
        right: 1px;
        top: 1px;
    }

    .LogProperty.LogProperty--mod_sub {
    }

    .LogProperty.LogProperty--desc {
        flex-grow: 1;
        flex-basis: 100%;
        margin-left: 0;
    }

    .LogProperty--thingmeta {
        min-width: 85vw;
    }
}

@media (max-width: 720px) {
    #LogsView__Header {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #LogsView__Header > h2 {
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    #LogsView__Header__PageOpts {
        padding-top: 10px;
        margin-bottom: 10px;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid #E1E4E6;
    }
    #LogsView__Header__PageOpts > span {
        display: block;
        margin-bottom: 0;
        font-size: 0;
        order: 2;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        color: rgba(0,0,0,0.25);
    }
    #LogsView__Header__PageOpts > span:before {
        content: 'ITEMS PER PAGE';
        font-size: 11px;
        font-weight: bold;
    }
}
@media (max-width: 360px) {
    #LogsView__Header__PageOpts > span {
        display: none;
    }
}


body.asi-unsupported #LogsView__Header {
    margin-bottom: 0;
    border-bottom: 0;
}

body.asi-unsupported #LogsView__Result {
    margin-top: 0;
}