.page--login nav .fr {
    display: none !important;
}

body.page--login_interstitial {
    background: #1a87c5;
    animation: bgcolors 60s linear infinite;
}
body.page--login_failed {
    background: #c51a3a;
}

body.page--login main {
    position: relative;
}

body.page--login nav {
    background: transparent;
    border-color: transparent;
    margin: 0 10px;
}

body.page--login nav .wrapper {
    border-bottom: 1px solid white;
}

body.page--login .nav-logo svg {
    fill: #fff !important;
}

body.page--login nav a {
    color: white;
}

body.page--login .nav-logo-a span {
    color: white;
}

@media (max-width: 400px) {
    nav .nav-logo-a>span {
        font-size: 11px !important;
    }
}


body.page--login_interstitial .nav-logo-a {
    pointer-events: none;
    cursor: default;
}

#inlogin {
    font-family: 'Open Sans', Arial, sans-serif;
    color: white;
    max-width: 450px;
    min-height: 410px;
    padding: 50px 40px;
}

#inlogin a {
    color: white;
    text-decoration: underline;
}

#inlogin__Inner {
    padding: 0;
}

#inlogin__Icon {
    margin-top: 20px;
}
#inlogin__Icon .loader {
    background: rgba(255,255,255,0.015);
    border-radius: 50%;
}

#inlogin__Bottom {
    position: absolute;
    bottom: 45%;
    left: 15px;
    right: 15px;
    transform: translateY(100%);
    min-width: 345px;
    max-width: 347px;
    margin: 0 auto;
}

#inlogin__Title {
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgba(255,255,255,0.8);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#inlogin__Notice {
    color: white;
    font-size: 13px;
}

#inlogin__Failed {
    margin-top: 40px;
    max-width: 345px;
    width: 100%;
}

#footer-parent {
    display: none !important;
}

a.inlogin__Button, .inlogin__Button {
    color: white;
    font-weight: 600;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    margin: 20px 0;
    display: block;
    background: rgba(255,255,255,0.1);
    transition: background 200ms ease, box-shadow 200ms ease;
    border-radius: 3px;
}

a.inlogin__Button:hover, .inlogin__Button:hover {
    background: rgba(255,255,255,0.17);
    box-shadow: 0 1px 20px rgba(255,255,255,0.1);
}


@keyframes bgcolors {
  0% {
    background: #1a87c5;
  }
  25% {
    background: #da7b20;
  }
  50% {
    background: #e6d121;
  }
  75% {
    background: #22cf76;
  }
  100% {
    background: #1a87c5;
  }
}


.loader {
  width: 120px;
  height: 120px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  stroke-linecap: round;
  stroke-width: 4px;
  fill: none;
}
.loader .loader--internal-circle,
.loader .loader--external-circle {
  stroke: #fff;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.loader .loader--internal-circle {
  stroke-dasharray: 187;
  -webkit-animation: loader-internal 1s ease-in-out infinite;
          animation: loader-internal 1s ease-in-out infinite;
  opacity: .4;
}
.loader .loader--external-circle {
  stroke-dasharray: 312;
  -webkit-animation: loader-external 1s linear infinite;
          animation: loader-external 1s linear infinite;
  opacity: .55;
}

@keyframes loader-internal {
  0% {
    stroke-dashoffset: 187px;
  }
  25% {
    stroke-dashoffset: 80px;
  }
  100% {
    stroke-dashoffset: 187px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader-external {
  0% {
    stroke-dashoffset: 312px;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  60% {
    stroke-dashoffset: -312px;
  }
  100% {
    stroke-dashoffset: -312px;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}