.page--loginrequired main {
    background: hsl(204, 92%, 50%);
    position: relative;
    overflow: hidden;
    min-height: 450px;
    background: linear-gradient(150deg,#7259f1 10%,#05d5ff 70%,hsl(157, 74%, 79%) 94%);
}

.LoginRequired:before {
    content: '';
    display: block;
    position: absolute;
    width: 50vw;
    height: 800vh;
    background: #fff;
    opacity: 0.15;
    transform: rotate(45deg) translate(25%,-100vw);
    transform-origin: top left;
    left: 10%;
}

.LoginRequired__textArea {
    width: 60%;
}
.LoginRequired__textWrap {
    margin-left: 20px;
    margin-top: 90px;
}

.LoginRequired__header {
    color: #fff;
    display: inline-block;
    border-top: 1px solid white;
    position: relative;
    text-shadow: none;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    flex-grow: 1;
    letter-spacing: 2px;
    font-family: Arial, 'Open Sans', Verdana, sans-serif;
}
.LoginRequired__header:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    margin-top: -5px;
}
.LoginRequired__description {
    font-size: 15px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 1px 5px hsl(204, 79%, 30%);
}


.LoginRequired__retry a {
    display: block;
    border-radius: 3px;
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.LoginRequired__retry button.primary {
    box-shadow: 0 5px 11px hsl(204, 79%, 59%);
    line-height: 37px;
    padding: 0 30px;
    background: #fff;
    color: #7a84e6;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    border: 0;
}
.LoginRequired__retry button.primary:hover,
.LoginRequired__retry button.primary:focus {
    transform: translateY(-1px);
    box-shadow: 0 5px 11px hsl(204, 79%, 50%);
}

.LoginRequired__imgArea {
    display: -webkit-flex;
    display: flex;
    padding-top: 50px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 40%;
}
.LoginRequired__imgArea img {
    width: 250px;
    height: 250px;
    position: relative;
    transform: rotate(5deg);
}
.LoginRequired__imgArea:before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 800px;
    background: #fff;
    background: linear-gradient(rgba(255,255,255,0.5) 5%, rgba(255,255,255,0) 50%);
    opacity: 0.3;
    right: 25px;
    transform: rotate(45deg) translate(59px,23px);
    transform-origin: top left;
}

@media (max-width: 740px) {
    .LoginRequired {
        flex-direction: column;
    }
    .LoginRequired > * {
        width: 100%;
    }
    .LoginRequired__textArea {
        order: 1;
        margin: 0 auto;
        width: 300px;
    }
    .LoginRequired__imgArea {
        display: none;
    }
}


@media (max-width: 750px) {
    .LoginRequired:before {
        left: 15%;
    }
}
@media (max-width: 650px) {
    .LoginRequired:before {
        left: 20%;
    }
}
@media (max-width: 500px) {
    .LoginRequired:before {
        left: 25%;
    }
}