
/*
 | Header
 | ----------------------------------------------------------------------
 */
#header {
    padding: 80px 0 20px;
    height: 570px;
    position: relative;
    box-sizing: border-box;
    background: #EAEFF4
}

#header-main-box {
    max-width: 480px;
    width: 100%;
}

#header h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

#header--description {
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    color: rgba(0,0,0,0.45);
    max-width: 400px;
}

#header--action-box .button {
    padding: 8px 24px;
    margin-top: 40px;
    display: inline-block;
    background: #3cadd4;
    color: white;
    border-radius: 4px;
    position: relative;
    box-shadow: 4px 4px rgba(0,0,0,0.1);
}

#header--action-box .button:active {
    top: 2px;
    box-shadow: none;
}

#header--action-box p {
    margin-top: 10px;
    color: rgba(0,0,0,0.45);
    font-size: 16px;
}

/*
 | Promotion Widget
 | ----------------------------------------------------------------------
 */

.widget-webview {
    max-width: 940px;
    width: 100%;
    box-sizing: border-box;
}

.widget-webview-top {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 28px;
    background: #CCCCCA;
    border-radius: 3px 3px 0 0;
}
.widget-webview-top span, .widget-webview-top span:before, .widget-webview-top span:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
    position: relative;
    margin-left: 18px;
}

.widget-webview-top span:before, .widget-webview-top span:after {
    margin: 0;
    position: absolute;
    left: 20px;
}
.widget-webview-top span:after { left: 40px; }

.widget-webview-viewport {
    background: white;
    min-height: 100px;
    border: 1px solid #d6d6d6;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.landing-widget.product-promotion-widget {
    position: absolute;
    max-width: 850px;
    left: 40px;
    right: 40px;
    top: 100%;
    margin: -200px auto 0;
    box-shadow: 0 14px 12px -10px rgba(0,8,26,0.32);
}

.landing-widget.product-promotion-widget .widget-webview-viewport {
    min-height: 380px;
}

.product-promotion-widget--after {
    padding-top: 250px;
    background: white;
}


/*
 | Product List
 | ----------------------------------------------------------------------
 */

#product-list .tagline {
    text-align: center;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.landing-header {
    color: #3cadd4;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.landing-header span {
    background: white;
    position: relative;
    padding: 0 25px;
}
.landing-header:before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: rgba(0,0,0,0.14);
}
.page--about .landing-header:before {
    display: none;
}

.product-list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 40px;
}

.product-card {
    width: 30%;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.product-icon {
    width: 100%;
    height: 120px;
    background: #f0f0f0;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}

.product-info .title {
    font-size: 13px;
    font-weight: 500;
}

.product-info .description {
    font-size: 14px;
    line-height: 1.5em;
    color: rgba(0,0,0,0.65);
}

.product-info .description  p {
    padding-bottom: 5px;
}


/*
 | section two
 | ----------------------------------------------------------------------
 */

#highlights {
    background: #f0f2f1;
    padding: 40px;
}

#highlights .tagline {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
}

#stuff {
    margin: 30px auto 50px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background: white;
    border-radius: 4px;
}

#stuff section {
    border-bottom: 1px solid #dbdcdb;
    height: 225px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
}
#stuff h3 {
    color: #3cadd4;
}
#stuff .left, #stuff .right {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

#stuff p {
    font-size: 14px;
    line-height: 1.7em;
    margin-top: 10px;
}

/*
 | Team List
 | ----------------------------------------------------------------------
 */

#team, #about-team {
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

#team .tagline {
    text-align: center;
    padding: 10px 0 20px 0;
    color: rgba(0,0,0,0.6);
    margin-bottom: 40px;
}

#about-team {
    font-family: 'Open Sans', Arial, sans-serif;
}

#about-team .tagline {
    text-align: center;
    font-size: 13px;
    color: hsla(200, 15%, 60%, 1);
    max-width: 500px;
    margin: 10px auto 40px;
}

#team .tagline .second {
    margin-top: 20px;
}

#team .row, #about-team .row {
    display: -webkit-flex;
    display: flex;
}

#team .row {
    border-top: 1px solid rgba(0,0,0,0.05);
    padding-top: 20px;
    padding-bottom: 30px;
}

#about-team .row {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 8px 0;
}

.profile {
    width: 24%;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

.profile .icon-profile {
    display: none;
    font-size: 80px;
    color: rgba(0,0,0,0.4);
}
.profile p {
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}

.profile h6 {
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(0,0,0,0.4);
    line-height: 10px;
    margin-bottom: 10px;
}

#about-team .profile {
    border: 1px solid #DFE3E6;
    border-radius: 3px;
    padding: 20px 10px 30px 10px;
    min-height: 210px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px #DFE3E6;
}

#about-team .profile p {
    color: hsla(217, 6%, 45%, 0.8);
}

/*
 | Join Us Section
 | ----------------------------------------------------------------------
 */
#join-us {
    background: white;
    padding-bottom: 80px;
    text-align: center;
}

#join-us .tagline {
    padding: 10px 0 20px 0;
    color: rgba(0,0,0,0.6);
}

#join-us .button {
    padding: 7px 28px;
    margin-top: 20px;
    display: inline-block;
    background: #3cadd4;
    color: white;
}

/*
 | About Page
 | ----------------------------------------------------------------------
 */

#logo-section {
    background: #3daaf5;
    height: 150px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#logo-section h1 {
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#logo-section h1 img {
    height:50px;
    width:50px;
}

#logo-section h1 span {
    margin-left: 20px;
    font-size: 38px;
    font-family: Verdana, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#about-us .wrapper {
    max-width: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#about-us p {
    font-family: Lato, sans-serif;
    color: hsl(217, 6%, 45%);
    margin: 10px 0;
    font-size: 16px;
    line-height: 28px;
}

#about-subreddits {
    background: #2ecc71;
    min-height: 120px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 30px 0;
}

#about-subreddits h2 {
    color:white;
    margin-top:10px;
}

#about-subreddits p {
    color:white;
    font-size:12px;
    margin-top:10px
}
#about-subreddits h2 + p {
    margin-top: 0;
}

#tsb-shortlist {
    max-width: 750px;
    color: white;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

#tsb-shortlist span {
    display: inline-block;
    width: calc(20% - 2px);
    box-sizing: border-box;
    font-size: 15px;
    line-height: 34px;
    background: rgba(255,255,255,0.35);
    margin-top: 2px;
    padding: 0 7px;
}

#contact-us .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

/*
 | Product Icons
 | ----------------------------------------------------------------------
 */

.i-mod-logs {
    background: #2ecc71;
}

.i-monitor {
    border: 4px solid #e8ebf0;
    border-bottom-width: 7px;
    background: white;
    width: 120px;
    height: 65px;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: 0 auto;
    border-radius: 3px;
    z-index: 2;
    transform: scale(0.8)
}

.i-monitor .i-base {
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 6px;
    position: absolute;
    z-index: 1;
}

.i-monitor .i-base0 {
    border-bottom: 16px solid #e2e6ec;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 40px;
    margin: 0 auto;
}
.i-monitor .i-base1 {
    border-bottom: 4px solid #e8ebf0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 50px;
    margin: -1px auto;
}
.i-monitor .i-base2 {
    height: 2px;
    width: 70px;
    background: #d8dbe1;
    margin: 1px auto;
}

.i-monitor .i-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #63d1f7;
    overflow: hidden;
}
.i-monitor .i-screen:before {
    content: '';
    position: absolute;
    right: -47px;
    width: 100px;
    height: 150px;
    transform: rotate(45deg);
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
    z-index: 5;
}



.i-mod-logs .i-graph span {
    position: absolute;
    height: 2px;
    background: #fda566;
    display: block;
    margin: 2px;
}
.i-mod-logs .i-graph span:nth-child(1) {
    top: 40px;
    transform: rotate(-50deg);
    width: 30px;
}
.i-mod-logs .i-graph span:nth-child(2) {
    top: 37px;
    left: 21px;
    transform: rotate(35deg);
    width: 25px;
}
.i-mod-logs .i-graph span:nth-child(3) {
    top: 32px;
    left: 37px;
    transform: rotate(-50deg);
    width: 30px;
}
.i-mod-logs .i-graph span:nth-child(4) {
    top: 26px;
    left: 59px;
    transform: rotate(25deg);
    width: 23px;
}
.i-mod-logs .i-graph span:nth-child(5) {
    top: 21px;
    left: 76px;
    transform: rotate(-40deg);
    width: 30px;
}

.i-mod-logs .i-graph span:after, .i-graph span:first-of-type:before {
    content: '';
    position: absolute;
    display: block;
    top: -3.5px;
    right: -2.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fda566;
}

.i-mod-logs .i-graph span:first-of-type:before {
    bottom: -3.5px;
    left: -2.5px;
}


.i-particles span {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.15);
    width: 6px;
    height: 6px;
}
.i-mod-logs span.i-p0 {
    transform: rotate(-45deg);
    right: 30px;
    top: 20px;
}
.i-mod-logs span.i-p1 {
    border-radius: 50%;
    left: 30px;
    top: 20px;
    background: rgba(255,255,255,0.3);
}
.i-mod-logs span.i-p2 {
    border-radius: 50%;
    left: 50px;
    bottom: 15px;
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,0.3);
}
.i-mod-logs span.i-p3 {
    border-radius: 50%;
    right: 55px;
    bottom: 10px;
}
.i-mod-logs span.i-p4 {
    border-radius: 50%;
    right: 35px;
    bottom: 20px;
    background: rgba(255,255,255,0.3);
}




.i-mobimod {
    background: #ff6860;
}

.i-phone {
    position: absolute;
    width: 45px;
    height: 80px;
    background: #ffffff;
    border: 1px solid #f4f5f7;
    border-radius: 5px;
    box-shadow: 0 5px 0 #e0625e;
}
.i-phone .i-screen {
    background: #fda566;
    position: absolute;
    top: 5px;
    right: 3px;
    bottom: 8px;
    left: 3px;
}

.i-mobimod .i-phone {
    top: 20px;
    left: 50px;
}

.i-hammer {
    width: 18px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
}
.i-mobimod .i-hammer {
    top: 22px;
    right: 7px;
    -webkit-transform: rotate(45deg) scale(0.75);
    transform: rotate(45deg) scale(0.75);
}

.i-hammer:before, .i-hammer:after {
    content: '';
    position: absolute;
    display: block;
    height: 12px;
    width: 5px;
    background: white;
    top: -1px;
    right: 100%;
}
.i-hammer:after {
    right: auto;
    left: 100%;
}
.i-hammer0 {
    display: block;
    width: 8px;
    height: 12px;
    background: white;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.i-hammer1 {
    display: block;
    width: 5px;
    height: 22px;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.i-mobimod span.i-p0 {
    transform: rotate(-45deg);
    left: 30px;
    bottom: 10px;
}
.i-mobimod span.i-p1 {
    border-radius: 50%;
    left: 20px;
    top: 20px;
    background: rgba(255,255,255,0.3);
}
.i-mobimod span.i-p2 {
    border-radius: 50%;
    left: 125px;
    top: 10px;
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,0.3);
}
.i-mobimod span.i-p3 {
    border-radius: 50%;
    right: 55px;
    bottom: 25px;
}
.i-mobimod span.i-p4 {
    border-radius: 50%;
    right: 30px;
    bottom: 15px;
    background: rgba(255,255,255,0.3);
    width: 10px;
    height: 10px;
}




.i-bots {
    background: #3daaf5;
}



@media (max-width: 750px) {
    .product-list {
    }
    .product-card {
        width: 246px;
        margin-bottom: 30px;
        box-sizing: border-box;
    }
    .product-icon {
        width: 226px;
        box-sizing: border-box;
    }

    #highlights {
        padding: 40px 0px;
    }
}
@media (max-width: 670px) {
    #highlights .wrapper {
        padding: 0 10px;
    }
}
@media (max-width: 610px) {
    #stuff section {
        min-height: 225px;
        height: auto;
    }
}
@media (max-width: 580px) {
    .product-list {
        flex-direction: column;
    }
    .product-card {
        margin: 0 auto 30px;
    }
}