

/* Quick Links
--------------------------------------------------------------------------------*/
.QuickLinks {
    padding: 5px;
}

.QuickLinks__title {
    margin-bottom: 10px;
}

.QuickLinks__inner {
    display: flex;
    justify-content: flex-start;
}

.QuickLinksColumn {
    min-width: 240px;
    margin-right: 20px;
    border: 1px solid #e4e6e8;
}
.QuickLinksColumn__title {
    display: block;
    text-align: center;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 5px;
    background: rgba(255,255,255,0.4);
    border-bottom: 1px solid hsla(210, 8%, 95%, 1);
}
.QuickLinksItem:last-child {
    margin-bottom: 5px;
}
.QuickLinksItem {
    display: block;
    text-align: left;
    line-height: 32px;
    height: 32px;
    padding: 0 20px 0 30px;
    margin: 0 -3px 0 -3px;
    position: relative;
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: hsla(232,20%,32%,1);
}
.QuickLinksItem:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto 0;
}
.QuickLinksItem:hover {
    background: hsl(204, 90%, 60%);
    border-color: hsl(204, 90%, 60%);
    color: white;
}
.QuickLinksItem:hover:before {
    border-color: white;
}

/* TSB RECENT LIST
--------------------------------------------------------------------------------*/
.card .listing.listing--TSBRecent .item {
    padding: 3px 14px;
    position: relative;
    overflow: visible;
}

.TSBRecent__line {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 2px 0;
    line-height: 15px;
    font-size: 11px;
}

.TSBRecent__ts,
.TSBRecent__mod,
.TSBRecent__sr {
    font-size: 10px;
    line-height: 18px;
}

.TSBRecent__ts {
    color: hsl(217, 6%, 75%);
}

.TSBRecent__mod {
    order: 1;
    color: hsla(232,20%,32%,1);
}
.TSBRecent__mod:after,
.TSBRecent__mod:before {
    content: 'to';
    margin: 0 3px;
    color: hsla(232,20%,50%,1);
}
.TSBRecent__mod:before { content: 'by'; }
.TSBRecent__sr {
    order: 2;
    color: hsla(232,20%,50%,1);
    font-weight: 600;
}

.listing--TSBRecent .media-link,
.listing--TSBRecent .media-link .media-icon {
    height: 24px;
    width: 24px;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    position: relative;
}

.listing--TSBRecent .media-link .media-icon {
    position: absolute;
    font-size: 22px;
    top: 0;
    left: 0;
}

.listing--TSBRecent .media-link {
    position: absolute;
    top: 5px;
    right: 5px;
    color: hsl(217, 6%, 60%);
    z-index: 10;
}

.TSBRecent__subject {
    display: block;
    overflow: visible;
    padding-top: 5px;
}
.TSBRecent__subject .TSBRecent__subjectAuthor {
    color: #24b47e;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.TSBRecent__subject .TSBRecent__subjectID {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 5;
    max-height: 24px;
    height: 24px;
    margin-top: -5px;
    background: #B0BEC5;
    color: white;
    overflow: hidden;
    max-width: 0;
    padding: 0;
    transition: max-width 500ms, padding 500ms;
    box-sizing: border-box;
}
input[type=text].TSBRecent__subjectID {
    line-height: 24px;
    padding: 0;
    margin-right: 0;
    height: 24px;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
}
.listing--TSBRecent .item:hover .TSBRecent__subjectID {
    max-width: 500px;
    padding: 0 35px 0 5px;
}
.listing--TSBRecent .item:hover .media-link {
    color: white;
}


/* QUICK STATS LIST
--------------------------------------------------------------------------------*/
.QuickStats {
    padding: 0 5px;
}

.QuickStatsHeader {
    padding: 10px 0 10px 5px;
}
.QuickStatsHeader__title {
    color: hsla(217, 11%, 65%, 1);
}
.QuickStatsHeader__time {
    display: inline-block;
    color: hsla(217, 11%, 45%, 1);
    margin-left: 5px;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 3px;
    background: hsla(210, 20%, 97%, 1);
    cursor: pointer;
}
.QuickStatsHeader__time:hover {
    background: hsla(210, 20%, 95%, 1);
}
.QuickStatsHeader__time .icon {
    margin-left: 5px;
}


.QuickStatsGroup {
    padding: 0 10px 0 5px;
    margin-bottom: 10px;
}

.QuickStatsGroup + .QuickStatsGroup {
    border-top: 1px solid #E2E7EC;
    padding-top: 10px;
}

.QuickStatsGroup h4 {
    text-transform: uppercase;
    font-size: 11px;
}

.QuickStatsItem {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.QuickStatsItem .QuickStatsItem__label {
    font-size: 12px;
    color: hsla(217, 11%, 65%, 1);
}
.QuickStatsItem .QuickStatsItem__value {
    font-size: 12px;
    font-weight: 600;
    color: hsla(217, 11%, 45%, 1);
    line-height: 24px;
    height: 24px;
}

.QuickStatsGroup--punitive h4 {
    color: #e64548;
}
.QuickStatsGroup--approvals h4 {
    color: #53bf6b;
}
.QuickStatsGroup--reversals h4 {
    color: #E6C149;
}
.QuickStatsGroup--link h4 {
    color: #04adec;
}
.QuickStatsGroup--wiki h4 {
    color: #009688;
}
.QuickStatsGroup--settings h4 {
    color: #087dc3
}
.QuickStatsGroup--modship h4 {
    color: #9578ca;
}

.QuickStatsItem__value--loading {
    font-size: 0 !important;
}

.QuickStatsItem__value--loading:before {
    font-size: 12px;
    content: '.';
    animation: quickstatsloading 1000ms infinite;
    color: hsla(217, 11%, 65%, 1);
}
@keyframes quickstatsloading {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
    100% {
        content: '.';
    }
}


/* WELCOME CARD
--------------------------------------------------------------------------------*/

.WelcomeCard {
    display: flex;
    background: hsla(204, 90%, 48%, 1);
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 12px;
    min-height: 350px;
    box-sizing: border-box;
    position: relative;
}
.WelcomeCard a {
    color: white;
    text-decoration: underline;
}
.WelcomeCard button.primary {
    background-color: #f19352;
    border: 1px solid hsla(31, 85%, 47%, 1);
}
.WelcomeCard button.primary:hover {
    background-color: hsla(25, 85%, 58%, 1);
}

.WelcomePanel {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 45px 30px 30px;
}
.WelcomePanel:not(.active) {
    display: none !important;
}


.WelcomeCardIntro {
    width: 300px;
    text-align: justify;
    box-sizing: border-box;
    padding-right: 40px;
    flex-shrink: 0;
}
.WelcomeCardIntro:before,
.WelcomePanel__left:before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 4px;
    background: hsla(31, 85%, 55%, 1);
}
.WelcomeCardIntro h3 {
    text-transform: uppercase;
    margin-bottom: 8px;
}
.WelcomeButtons {
    position: absolute;
    bottom: 40px;
}


.WelcomeItemGroup {
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.WelcomeItem {
    flex-basis: 33.33%;
    display: flex;
    align-items: flex-end;
    position: relative;
    transition: all 200ms ease;
    background: transparent;
    border: 1px solid transparent;
    padding: 20px;
}
.WelcomeItem[data-target] {
    cursor: pointer;
}
.WelcomeItem[data-target]:hover {
    background: rgba(255,255,255,0.15);
    border-color: rgba(255,255,255,0.5);
}
.WelcomeItem__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 20px;
}
.WelcomeItem__img img {
    max-height: 126px;
}
.WelcomeItem__desc {
    text-align: center;
    min-height: 90px;
}

.WelcomeItem h3 {
    font-size: 15px;
}

.WelcomeItem p {
    font-size: 12px;
    line-height: 18px;
}

.WelcomePanel__left {
    background: white;
    padding: 45px 30px 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    box-sizing: border-box;
    border-top: 2px solid #e4e6e8;
    border-bottom: 2px solid #e4e6e8;
    border-left: 2px solid #e4e6e8;
    color: hsla(232,20%,32%,0.95);
}
.WelcomePanel__left .WelcomeButtons {
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: space-between;
}