body {background:#fafafa}

#oauth2apps_form {
    font-family:'Source Sans Pro',Roboto,Verdana,sans-serif;
    max-width:700px;
}
#oauth2apps_form h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0;
    padding: 3px 9px;
    background: rgba(0,0,0,0.05);
}
#oauth2apps_form h3 {
    font-weight: bold;
    font-size: 14px;
}
.oauth2apps_form__boxcontent {
    padding: 2px 10px 5px;
}
.oauth2apps_form__boxcontentstatus {
    color: #555;
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: bold;
    text-transform: uppercase;
}
#oauth2apps_form__wrap {
    padding:0;
    margin:10px 0;
    box-shadow: 0 -1px 0 #efefef,0 0 2px rgba(0,0,0,0.12),0 1.5px 4px rgba(0,0,0,.14);
    background:white
}
#oauth2apps_form__wrap p {font-size:15px}
.oauth2apps_formbox {
    background: rgba(0,0,0,0.04);
    padding: 10px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.oauth2apps_formbox label {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid rgba(0,0,0,0.05);
}
.oauth2apps_formbox label > span {
    min-width: 150px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #555;
}
.oauth2apps_formbox textarea,
.oauth2apps_formbox input[type=url],
.oauth2apps_formbox input[type=text] {
    min-width: 300px;
    font-family: Open Sans, sans-serif;
}
.oauth2apps_formbox ul.scope-list {
    padding: 10px 10px 10px 30px;
    font-size:15px;
    color: #777;
    background: rgba(0,0,0,0.03);
}
.oauth2apps_formbox .more {
    background: rgba(0,0,0,0.04);
    padding: 10px;
}
.oauth2apps_formbox.highlighted {
    background: #fff4cc;
}

.oauth2apps_formbox  .are-you-sure {
    margin-bottom: -5px;
    display: inline-flex;
}
.oauth2apps_formbox .are-you-sure button,
.oauth2apps_formbox .are-you-sure a,
.oauth2apps_formbox .are-you-sure__label {
    display: inline-block;
    background: transparent;
    color: red;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', Roboto, Verdana, sans-serif;
}
.oauth2apps_formbox .are-you-sure a {
    margin: 0 2px;
    font-weight: 700;
}
.oauth2apps_formbox .are-you-sure a:hover {
    text-decoration: underline;
}
.oauth2apps_formbox .are-you-sure__divider {
    font-size: 10px;
    font-weight: bold;
}

.oapp__IsOfficial {
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    background: #3daaf5;
    color: white;
    margin-left: 10px;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
}
.oapp__IsOfficial .icon {
    margin-right: 4px;
    font-size: 11px;
}

.oauth2apps_formbox input[type=text][disabled] {
    opacity: 1;
}