body:not(.page--prefs_fullWidth) .prefs__body,
body:not(.page--prefs_fullWidth) .prefs__header {
    max-width: 700px;
}

.prefs__header {
    margin-bottom: 15px;
}

.prefs__tabs {
    border-bottom: 1px solid hsla(232,20%,32%,0.3);
}

.prefs__tabItem {
    display: flex;
    align-items: center;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 3px 3px 0 0;
    margin-right: 5px;
    box-sizing: border-box;
}
.prefs__tabItem:not(.selected):hover {
    background: hsla(232,20%,94%, 0.8);
}
.prefs__tabItem.selected {
    background: #fff;
    border: 1px solid hsla(232,20%,32%,0.3);
    border-bottom: 0;
    margin-bottom: -1px;
}

.SessionList__loggedOut {
    opacity: 0;
    transition: opacity 400ms ease-out;
}