main section {
    margin-top: 40px;
}

main section h3 {
    margin-bottom: 10px;
}

main section h3 + p {
    margin: -5px 0 10px;
}

/* Tables
------------------------------------------------------------------------------------------ */

table td {
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

table tr:nth-child(odd) > td {
    background: hsla(210,40%,96%,0.6);
}

table td textarea {
    margin: 10px 0 0 0;
    font-size: 10px;
}

.UserProperties__table tbody tr td:last-child {
    font-size: 13px;
    line-height: 17px;
    padding: 5px 10px;
}

.UserProperties__table tbody tr td:last-child code {
    font-size: 12px;
    background: rgba(0,0,0,0.05);
    padding: 0 2px;
}

.UserModdedHistory__table {
    font-size: 12px;
}
.UserModdedHistory__table th {
    vertical-align: bottom;
}
.UserModdedHistory__table p {
    word-wrap: break-word;
    word-break: break-word;
    max-width: 140px;
    line-height: 16px;
    font-size: 11px;
}

/* prefs__body
------------------------------------------------------------------------------------------ */
.prefs__body > section:last-of-type {
    margin-bottom: 50px;
}
.prefs__body label {
    display: flex;
    align-items: flex-start;
    padding: 3px 5px;
    border-radius: 3px;
    position: relative;
}
.prefs__body label > input[type="radio"] {
    margin-top: 3px;
}
.prefs__body label > span,
.prefs__body label > .halign {
    margin-left: 5px;
}
.prefs__body fieldset {
    border: 0;
    margin-top: 20px;
}
.prefs__body label:not(.in-progress):not(.saved):not(.failed):hover {
    background: hsla(200, 15%, 78%, 0.25);
}
.prefs__body fieldset h4 {
    margin-bottom: 5px;
}
.prefs__body label > .halign > input {
    margin-top: 5px;
}

/* saving
------------------------------------------------------------------------------------------ */

label.in-progress {
    background: hsla(204,90%,60%,0.15);
}
label.saved {
    background: hsla(133, 55%, 50%, 0.15);
}
label.failed {
    background: rgba(230,69,72,0.12);
}
label > .icon:last-child {
    position: absolute;
    right: 5px;
    bottom: 0;
    top: 0;
    margin: auto 0;
}
label .save-marker {
    min-height: 14px;
    min-width: 14px;
    height: 14px;
    width: 14px;
}

/* UserModdedReSyncForm
------------------------------------------------------------------------------------------ */
.UserModdedReSyncForm {
    display: flex;
    align-items: center;
    min-height: 38px;
}

button.UserModdedReSyncButton {
    flex-basis: 190px;
    width: 190px;
    margin-right: 0;
}

.UserModdedReSyncStatus {
    flex-basis: calc(100% - 190px);
    width: calc(100% - 190px);
    padding-left: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.UserModdedReSyncStatus .icon {
    margin-right: 10px;
}