/* LAYOUT BASIC
-------------------------------------------------------------------------------- */

.settings {
    display: -webkit-flex;
    display: flex;
}

.settings__side {
    width: 250px;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid #d3d3d3;
    padding-right: 20px;
    box-sizing: border-box;
}

.settings__panel {
    flex-grow: 1;
}

/* SIDE NAVIGATION
-------------------------------------------------------------------------------- */

.settings__sideItem {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13.5px;
    line-height: 26px;
    padding: 0 10px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.settings__sideItem:hover {
    background: hsla(232,20%,93%,1);
    color: hsla(232,20%,32%,1);
}
.settings__sideItem.selected {
    background: hsla(232,20%,92%,1);
    color: hsla(232,20%,32%,1);
}

.settings__sideTop {
    position: relative;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #dadada;
}
.settings__sideTop input[type=text] {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    line-height: 20px;
    border: 0;
    padding-left: 20px;
    outline: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    box-shadow: none !important;
}
.settings__sideTop .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 17px;
    height: 17px;
    margin: auto 0;
    color: #aaa;
}

.settings__sideItem.settings__sideItemHelp {
    color: #195DC7;
    background: hsl(217, 85%, 94%);
    margin-bottom: 5px;
    border-radius: 3px;
}

.settings__sideItem.settings__sideItemHelp:hover {
    background: hsl(217, 85%, 92%);
}

.settings__sideItem.settings__sideItemHelp.selected {
    background: hsl(217, 100%, 70%);
    color: #fff;
}

/* COMPONENT LAYOUT
-------------------------------------------------------------------------------- */

.settings__comp {
    padding: 10px;
}

.settings__compHeader p {
    color: rgba(0,0,0,0.55);
}

.settings__compSection {
    margin-top: 40px;
}

.settings__compSection h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    padding: 10px;
}

/* PROPERTY
-------------------------------------------------------------------------------- */

.settingsProp {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 5px 10px;
}
.settingsProp + .settingsProp {
    border-top: 0;
}

.settingsProp__value {
    min-width: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.settingsProp__value .loading {
    width: 10px;
    height: 10px;
    border-width: 3px;
    margin-left: 10px;
}

.settingsProp__label--sub {
    color: rgba(0,0,0,0.45);
    font-size: 12px;
}
.settingsProp__label--perm {
    background: rgba(0,0,0,0.06);
    line-height: 20px;
    font-size: 10px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    font-family: 'Open Sans', Arial, sans-serif;
    margin: -3px 8px;
    border-radius: 2px;
    padding: 0 5px;
}

/* CHANGELOG
-------------------------------------------------------------------------------- */

.settingsChangelogEntry {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 5px 10px;
}
.settingsChangelogEntry th {
    border: 0;
}
.settingsChangelogEntry + .settingsChangelogEntry {
    border-top: 0;
}