/*
 | Buttons
 | ----------------------------------------------------------------------
 */
button.primary,
button.secondary {
    display: inline-block;
    position: relative;
    margin: 0 5px 1px 0;
    padding: 0 10px;
    line-height: 29px;
    min-width: 77px;

    font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 15px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 3px;

    cursor: pointer;
    transition: all 200ms ease;
}

button.primary,
button.secondary,
button.tertiary {
    outline: 0 !important;
}

/*
 | Primary Buttons
 | ----------------------------------------------------------------------
 */
button.primary:not([disabled]):active {
    transform: translateY(0.5px);
}

button.primary {
    background-color: #3daaf5;
    color: white;
    border: 1px solid hsla(204,90%,50%,1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.35);
}

button.primary.cancel,
button.primary.disabled,
button.primary[disabled] {
    background-color: rgba(0,0,0,0.3) !important;
    border-color: rgba(0,0,0,0.15) !important;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25) !important;
}

button.primary.danger,
button.primary.no,
button.primary.primary--2.danger,
button.primary.primary--2.no {
    background-color: rgba(230, 69, 72, 0.7);
    border-color: rgba(230, 69, 72, 0.6);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

button.primary.yes,
button.primary.primary--2.yes {
    background-color: hsla(133, 46%, 59%, 1);
    border-color: hsla(133, 46%, 48%, 1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

button > .icon:first-child {
    margin-right: 7px;
}
button > .icon-span:first-child {
    display: inline-block;
    min-width: 12px;
    margin-right: 3px;
}

button.primary.big {
    padding: 0 25px;
    line-height: 42px;
    font-size: 16px;
}

/* primary-2 */
button.primary.primary--2 {
    box-shadow: none;
    border: 0;
    background: hsla(204,90%,50%,1);
}
button.primary.primary--2:hover {
    background: #3daaf5;
}
button.primary.primary--2:not([disabled]):active {
    transform: translateY(0px);
}
button.primary.primary--2:focus {
    box-shadow: 0 0 0 2.5px rgba(0,140,221,.2);
}
button.primary.primary--2[disabled] {
    background: hsla(210, 40%, 84%, 1);
}

/* primary disabled */
button.primary[disabled] {
    cursor: default;
}

button.primary.small {
    line-height: 22px;
    padding: 0 5px;
    min-width: 50px;
}

/*
 | Secondary Buttons
 | ----------------------------------------------------------------------
 */
button.secondary {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 13px;
    color: hsl(232,20%,50%);
    border-color: hsl(232,20%,80%);
    box-shadow: 0 1px 0 0px hsl(232,20%,80%);
}

button.secondary:not([disabled]):focus {
    box-shadow: 0 1px 0 0px hsl(232,20%,80%), 0 0 0 2px rgba(0,140,221,.2)
}

button.secondary:not([disabled]):hover {
    background: hsl(232,20%,97%);
}

button.secondary:not([disabled]):active {
    color: hsl(232,20%,55%);
    box-shadow: inset 0 2px 4px 0px hsl(232,20%,80%);
}

button.secondary[disabled] {
    opacity: 0.6;
    cursor: default;
}

button.secondary.secondary--icon {
    min-width: 30px;
    height: 30px;
    line-height: 30px;
}
button.secondary.secondary--hover {
    transition: all 50ms ease;
}
button.secondary.secondary--hover:not(:hover):not(:focus) {
    box-shadow: 0 1px 0 0 #fff !important;
    border-color: transparent !important;
}
button.secondary.secondary--hover:not([disabled]):hover {
    background-color: white;
}

/*
 | Tertiary Buttons
 | ----------------------------------------------------------------------
 */

button.tertiary, a.tertiary {
    display: inline-flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    padding: 0 12px 0 12px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #fafafa;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

button.tertiary:not([disabled]):hover,
a.tertiary:not([disabled]):hover {
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.5)
}

button.tertiary .icon,
a.tertiary .icon {
    margin-right: 5px;
}

button.tertiary span, a.tertiary span {
    font-family: 'Open Sans', Arial, sans-serif;
}

button.tertiary:not([disabled]):focus,
a.tertiary:not([disabled]):focus {
    box-shadow: 0 0 0 2px rgba(0,140,221,.2)
}

button.tertiary[disabled],
a.tertiary[disabled] {
    cursor: default;
    color: rgba(0,0,0,0.3);
    border: 1px solid hsla(0, 0%, 90%, 1);
}

button.tertiary.small, a.tertiary.small {
    line-height: 20px;
    height: 22px;
    padding: 0 8px;
    font-size: 12.5px;
}