
/*
 | Cards
 | ----------------------------------------------------------------------
 */

.card {
    background: white;
    border-radius: 3px;
    margin-bottom: 12px;
    border: 0;
    /* box-shadow:
        0 -1px 3px 0 hsla(232,20%,32%,0.1),
        0 1px 3px 0 hsla(232,20%,32%,0.3),
        0 2px 3px 0px hsla(232,20%,32%,0.1); */
    box-shadow: 0 0px 1px 0 rgba(0,28,36,0.5), 0 3px 2px -2px rgba(0,28,36,0.2);
    border-top: 1px solid #eaeded;
}

.card .content {
    padding: 12px;
}

.card > .content:last-child {
    border-radius: 0 0 3px 3px;
}

/*
 | Card Header Row
 | ----------------------------------------------------------------------
 */
.card .header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;

    background: white;
    padding: 10px 14px;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3daaf5;
    border-radius: 3px 3px 0 0;
}
.card .header > span {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    color: #5c7492;
}

/*
 | Card Listing
 | ----------------------------------------------------------------------
 */
.card .listing {
    background: #f6f9fc;
}
.card .listing .item:hover {
    background: #ebeff4;
}
.card .listing .item {
    border-bottom: 1px solid #e6ebf1;
    padding: 10px;
}

/*
 | Card Row
 | ----------------------------------------------------------------------
 */
.card .row {
    padding: 8px 12px;
    font-size: 12px;
    border-top: 1px solid #eaeded;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #767676;
}
.card .row.no-pad {
    padding: 0;
}

.card .row.notice,
.card .row.error-notice {
    margin-top: 0;
    margin-bottom: 0;
}

.card .row .close { opacity: 0.1; }
.card .row:hover .close { opacity: 0.3; }
.card .row:hover .close:hover { opacity: 0.5; }

/*
 | Card Elements
 | ----------------------------------------------------------------------
 */

.card select,
.card input[type=text],
.card input[type=email],
.card input[type=url],
.card input[type=number],
.card input[type=time],
.card input[type=date] {
    line-height: 30px;
    padding: 0 8px;
    margin-right: 5px;
    height: 30px;
    box-sizing: border-box;
}

.card table thead th {
    color: hsl(217,6%,65%);
}

.card table tbody {
    font-size: 12px;
}

/*
 | Card Forward
 | ----------------------------------------------------------------------
 */

.card .forward {
    display: inline-block;
    box-sizing: border-box;
    box-shadow:
        0 0 0 0.5px hsla(232,20%,40%,0.1),
        0 2px 5px 0 hsla(232,20%,40%,0.1),
        0 1px 2px 0 hsla(232,20%,40%,0.12);
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 3px;
    color: hsla(232,20%,60%,1);
    position: relative;
    background: white;
}
.card .forward p {
    margin: 5px;
    line-height: 20px;
    font-family: 'Source Sans Pro', 'Open Sans', Arial, sans-serif;
}

.card .forward .forward_arrow--top,
.card .forward .forward_arrow--bottom {
    position: absolute;
    bottom: 100%;
    width: 18px;
    height: 10px;
}

.card .forward .forward_arrow--bottom {
    bottom: auto;
    top: 100%;
}

.card .forward .forward_arrow--top:before,
.card .forward .forward_arrow--top:after,
.card .forward .forward_arrow--bottom:before,
.card .forward .forward_arrow--bottom:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card .forward .forward_arrow--top:before,
.card .forward .forward_arrow--top:after {
    bottom: 0;
}
.card .forward .forward_arrow--bottom:before,
.card .forward .forward_arrow--bottom:after {
    top: 0;
}

.card .forward .forward_arrow--top:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(0,0,0,0.14);
}

.card .forward .forward_arrow--top:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.card .forward .forward_arrow--bottom:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid rgba(0,0,0,0.14);
}

.card .forward .forward_arrow--bottom:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}


/*
 | Card Tabs
 | ----------------------------------------------------------------------
 */

.card-tabs {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.09);
    padding: 0 10px;
    border-bottom: 0;
    background: hsl(217,6%,97%);
    box-shadow: 0 2.5px 3px -3px hsl(217,6%,50%);
    margin-top: -2px;
    border-top: 2px solid white;
    box-sizing: border-box;
    margin-bottom: 3px;
}
.card-tabs > * {
    display: inline-block;
    color: hsl(217,6%,65%);
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 28px;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    cursor: pointer;
    margin-right: 5px;
}
.card-tabs > *:hover:not(.selected) {
    color: hsl(217,6%,50%);
}
.card-tabs > *.selected {
    color: hsl(217,6%,35%);
    border-bottom-color: hsl(217,6%,45%);
}


/*
 | Card Load More Indicator
 | ----------------------------------------------------------------------
 */
.card-LoadMoreIndicator {
    background: #f7f9fb;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 11px;
    line-height: 23px;
    margin: 5px 0;
    font-weight: bold;
    letter-spacing: .3px;
    color: rgba(0,0,0,0.35);
    padding: 6px 0;
    cursor: pointer;
}
.card-LoadMoreIndicator:hover {
    background: hsla(210, 33%, 96%, 1);
}
.card-LoadMoreIndicator h4 {
    font-size: 12px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,0.5);
}