/*
 | Standard Subreddit Chooser & Misc Chooser
 | ----------------------------------------------------------------------
 */
.SubredditChooser,
.Chooser {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}

.SubredditChooserTop,
.ChooserTop {
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
    width: 100%;
    background: hsla(232,20%,32%,0.05);
    margin-bottom: 5px;
}

.SubredditChooser .SubredditOption,
.Chooser .ChooserOption {
    padding: 5px 10px;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
}

.SubredditChooser.collapsed .SubredditOption,
.Chooser.collapsed .ChooserOption {
  display: none !important;
}

.SubredditChooser .SubredditOption {
    width: 33.333%;
}
.SubredditChooser .SubredditOption:nth-child(1),
.SubredditChooser .SubredditOption:nth-child(2),
.SubredditChooser .SubredditOption:nth-child(3) {
    border-top: 0;
}

.SubredditChooser .SubredditChooserTop .SubredditOption,
.Chooser .ChooserTop .ChooserOption {
    border-color: transparent;
}

.SubredditChooser .SubredditOption input,
.Chooser .ChooserOption input {
    display: none;
}

.SubredditChooser .SubredditOption span:before,
.Chooser .ChooserOption span:before {
    content: '\2713';
    font-weight: bold;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border: 1px solid hsla(232,20%,32%,0.4);
    border-radius: 3px;
    margin-right: 8px;
    color: transparent;
}

.SubredditChooser .SubredditOption input:checked ~ span:before,
.Chooser .ChooserOption input:checked ~ span:before {
    color: white;
    background: #3daaf5;
    border-color: #3daaf5;
}

.SubredditChooser .SubredditOption span,
.Chooser .ChooserOption span {
    font-size: 11px;
    color: hsla(232,20%,32%,0.75);
    font-weight: 600;
    font-family: 'Open Sans', Arial, sans-serif;
}

.SubredditChooser .SubredditOption:nth-child(1),
.SubredditChooser .SubredditOption:nth-child(2),
.SubredditChooser .SubredditOption:nth-child(3) {
    border-top: 0;
}

.Chooser.collapsed .ChooserOption
.SubredditChooser.collapsed .SubredditOption {
    display: none !important;
}