
/*-------------------------
    Close Button
--------------------------*/
.close {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
}

.close.smaller {
    width: 8px;
    height: 8px;
}
.close.small {
    width: 16px;
    height: 16px;
}
.close.smedium {
    width: 20px;
    height: 20px;
}
.close.lmedium {
    width: 28px;
    height: 28px;
}
.close.large {
    width: 32px;
    height: 32px;
}
.close.large {
    width: 40px;
    height: 40px;
}

.close:before, .close:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #333;
}
.close:before {
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close:after {
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}