.dropdown {
    box-shadow: 0 1px 2px rgba(0,0,0,0.35), 0 -1px 0 rgba(0,0,0,0.07);
    background: white;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    border-radius: 2px;
    padding: 0;
    z-index: 999999;

    display: none;
    left: 50%;
    transform: translate(-50%);
}
.dropdown--trigger {
    position: relative;
}
.dropdown--active .dropdown,
.dropdown.dropdown--active {
    display: block;
}

.dropdown:before,
.dropdown:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.dropdown:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(0,0,0,0.18);
}
.dropdown:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.dropdown.dropdown--panel {
    text-align: left;
    line-height: initial;
}

.dropdown:not(.dropdown--panel) > span,
.dropdown:not(.dropdown--panel) > a,
.dropdown:not(.dropdown--panel) > button,
.dropdown:not(.dropdown--panel) > form > button,
.dropdown:not(.dropdown--panel) > div,
ul.dropdown:not(.dropdown--panel) > li {
    display: flex;
    align-items: center;
    padding: 3px 8px;
    cursor: pointer;
    text-align: left;
    color: #354049;
}

.dropdown:not(.dropdown--panel) > button,
.dropdown:not(.dropdown--panel) > form > button {
    background: transparent;
    border: 0;
    width: 100%;
}


.dropdown:not(.dropdown--panel) > span:hover,
.dropdown:not(.dropdown--panel) > span.selected,
.dropdown:not(.dropdown--panel) > a:hover,
.dropdown:not(.dropdown--panel) > a.selected,
.dropdown:not(.dropdown--panel) > button:hover,
.dropdown:not(.dropdown--panel) > button.selected,
.dropdown:not(.dropdown--panel) > form > button:hover,
.dropdown:not(.dropdown--panel) > form > button.selected,
.dropdown:not(.dropdown--panel) > div:hover,
.dropdown:not(.dropdown--panel) > div.selected,
ul.dropdown:not(.dropdown--panel) > li:hover,
ul.dropdown:not(.dropdown--panel) > span.selected {
    background: #f7f7f7;
}

.dropdown:not(.dropdown--panel) > hr {
    margin: 0;
}

.dropdown:not(.dropdown--panel) > * > .icon:first-child {
    margin-right: 5px;
    opacity: 0.8;
}

.dropdown:not(.dropdown--panel) > *:hover > .icon:first-child,
.dropdown:not(.dropdown--panel) > .selected > .icon:first-child {
    opacity: 1;
}
