/*
 | General Field Stuff
 | ----------------------------------------------------------------------
 */
.box {
    background: hsla(232,20%,32%,0.04);
    max-width: 600px;
    margin-top: 7px;
    padding: 10px 40px 10px 15px;
}

.field, .field label {
    margin-top: 5px;
    margin-bottom: 5px;
}
.fieldset {
    padding: 5px 10px 10px 10px;
}
.fieldtitle {
    font-weight: 600;
}
.form-group {
    margin-top: 20px;
}
.form-error {
    color: red;
}
.field label {
    display: flex;
    align-items: center;
}
.field label input + span,
.field label * + select,
.field label * + input[type=text],
.field label * + input[type=number],
label.field input + span,
label.field * + select,
label.field * + input[type=text],
label.field * + input[type=number] {
    margin-left: 10px;
}

table.primary td {
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
table.primary tr:nth-child(odd) > td {
    background: hsla(210,40%,96%,0.6);
}

table.primary tr.greenbg:nth-child(odd) > td,
table.primary tr.redbg:nth-child(odd) > td,
table.primary tr.bluebg:nth-child(odd) > td,
table.primary tr.yellowbg:nth-child(odd) > td,
table.primary tr.blackbg:nth-child(odd) > td {
    background: transparent;
}

table.secondary td {
    line-height: 24px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 11px;
    color: rgba(0,0,0,0.65);
}
table.secondary tr:nth-child(odd) td {
    background: hsla(210,40%,95%,0.8);
}

/*
 | Local Settings Dialog
 | ----------------------------------------------------------------------
 */
.AppDialog .localsettings {
    margin-top: 10px;
}
.AppDialog .localsettings fieldset {
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.AppDialog .localsettings label {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.AppDialog .localsettings label:hover {
    background: #f0f0f0;
}
.AppDialog .localsettings label span {
    margin-left: 5px;
}
.AppDialog .localsettings > p {
    font-size: 13px;
    line-height: 18px;
    color: #777;
}