@-webkit-keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-pulse {
  50% {
    background: white;
  }
}
@keyframes loading-pulse {
  50% {
    background: white;
  }
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid hsla(204, 90%, 60%, 0.3);
  border-top-color: #3daaf5;
  -webkit-animation: loading-spin 1s infinite linear;
          animation: loading-spin 1s infinite linear;
}
.loading.loading--white {
    border-color: rgba(255,255,255,0.45);
    border-top-color: white;
}

.loading--double {
    border-width: .5rem;
    border-style: double;
}

.loading--pulse {
  position: relative;
  width: 6px;
  height: 24px;
  background: hsla(204, 90%, 60%, 0.3);
  -webkit-animation: loading-pulse 750ms infinite;
          animation: loading-pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.loading--pulse.loading--white {
    background: rgba(255,255,255,0.45);
}

.loading--pulse:before, .loading--pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  width: 6px;
  background: hsla(204, 90%, 60%, 0.3);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: loading-pulse 750ms infinite;
          animation: loading-pulse 750ms infinite;
}
.loading--pulse.loading--white .loading--pulse:before,
.loading--pulse.loading--white .loading--pulse:after {
    background: rgba(255,255,255,0.45);
}

.loading--pulse:before {
  left: -12px;
}
.loading--pulse:after {
  left: 12px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

span.loading {
    display: inline-block;
}

.loading.small {
    width: 12px;
    height: 12px;
}
.loading.xsmall, .loading.x-small {
    width: 8px;
    height: 8px;
}