
.status, .label {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    background: #f0f0f0;
    color: #555;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    box-sizing: border-box;
    border-radius: 3px;
}
.status + .status {
    margin-left: 4px;
}
.status.open {
    background: rgba(83, 191, 107, 0.85);
    color: white;
}
.status.closed, .status.denied {
    background: rgba(230, 69, 72, 0.85);
    color: white;
}
.status.considering {
    background: rgba(21, 164, 250, 0.85);
    color: white;
}
.status.pending {
    background: rgba(230, 193, 73, 0.85);
    color: white;
}
.status.deleted {
    background: rgba(85, 85, 85, 0.85);
    color: white;
}
.status.neutral {
    color: #999;
    border-color: transparent;
    background: #f0f0f0;
}

.push, .clickable {
    cursor: pointer !important;
}
.push.status.open:hover {
    background: rgba(83, 191, 107, 0.7);
    box-shadow: 0 0 5px hsla(133, 46%, 54%, 0.3);
}
.push.status.closed:hover, .push.status.denied:hover {
    background: rgba(230, 69, 72, 0.7);
    box-shadow: 0 0 5px hsla(359, 76%, 59%, 0.3);
}
.push.status.considering:hover {
    background: rgba(21, 164, 250, 0.7);
    box-shadow: 0 0 5px hsla(203, 96%, 53%, 0.3);
}
.push.status.pending:hover {
    background: rgba(230, 193, 73, 0.7);
    box-shadow: 0 0 5px rgba(230, 193, 73, 0.3);
}
.push.status.deleted:hover {
    background: rgba(85, 85, 85, 0.7);
    box-shadow: 0 0 5px hsla(0, 0%, 33%, 0.3)
}

/*
 | save marker
 | ----------------------------------------------------------------------
 */

.save-marker {
    color: #53bf6b;
    margin-left: 10px;
    opacity: 0;
    min-width: 15px;
    min-height: 15px;
    transition: opacity 500ms ease-out; /* transition-out */
}

.save-marker--flash {
    opacity: 1;
    transition: opacity 100ms; /* transition-in */
}

/*
 | marker label
 | ----------------------------------------------------------------------
 */

.marker-label {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 7px;
    margin-right: 7px;
    background: #eaeaea;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 3px;
    position: relative;
    color: hsla(232,20%,50%,1);
}

.marker-label.marker-label--toggle {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
 | help marker
 | ----------------------------------------------------------------------
 */

.help-marker {
    color: rgba(0,0,0,0.45);
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
}
.help-marker:hover {
    background: rgba(0,0,0,0.05);
}


/*
 | page label
 | ----------------------------------------------------------------------
 */
.page-label {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.page-label > span, .page-label > input[type=number] {
    font-family: 'Open Sans',sans-serif;
    color: #767676;
    font-size: 12px;
}

.page-label > span:first-of-type {
    margin-right: 10px;
}

.page-label > span:nth-of-type(2) {
    margin-right: 5px;
}

.page-label > input[type=number] {
    -moz-appearance: textfield;
    line-height: 20px;
    font-size: 12px;
    padding: 0;
    width: 30px;
    text-align: center;
}

.page-label > input[type="number"]::-webkit-outer-spin-button,
.page-label > input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-label > input[type=number]:focus {
    color: #333;
}