/*
 | media icon/link
 | ----------------------------------------------------------------------
 */
.media-link, .media-icon, .media-link .media-icon, .card-row a .media-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 19px;
    margin-right: 0;
    border-radius: 2px;
    transition: all 50ms ease;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.media-link:hover .media-icon.media-icon--youtube,
.media-link.active .media-icon.media-icon--youtube {
    background: #bb0000;
    color: white;
}

.media-link:hover .media-icon.media-icon--vimeo,
.media-link.active .media-icon.media-icon--vimeo {
    background: #1ab7ea;
    color: white;
}

.media-link:hover .media-icon.media-icon--twitch,
.media-link.active .media-icon.media-icon--twitch {
    background: #6441A4;
    color: white;
}
.media-link:hover .media-icon.media-icon--spotify,
.media-link.active .media-icon.media-icon--spotify {
    background: #1DB954;
    color: white;
}
.media-link:hover .media-icon.media-icon--soundcloud,
.media-link.active .media-icon.media-icon--soundcloud {
    background: #ff3a00;
    color: white;
}
.media-link:hover .media-icon.media-icon--tumblr,
.media-link.active .media-icon.media-icon--tumblr {
    background: #35465c;
    color: white;
}
.media-link:hover .media-icon.media-icon--twitter,
.media-link.active .media-icon.media-icon--twitter {
    background: #00aced;
    color: white;
}
.media-link:hover .media-icon.media-icon--vine,
.media-link.active .media-icon.media-icon--vine {
    background: #00bf8f;
    color: white;
}
.media-link:hover .media-icon.media-icon--instagram,
.media-link.active .media-icon.media-icon--instagram {
    background: #405de6;
    color: white;
}
.media-link:hover .media-icon.media-icon--streamable,
.media-link.active .media-icon.media-icon--streamable {
    background: #0f90fa;
    color: white;
}
.media-link:hover .media-icon.media-icon--imgur,
.media-link.active .media-icon.media-icon--imgur {
    background: #85bf25;
    color: white;
}

.media-icon.media-icon--dailymotion {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: 0.7;
}
.media-icon.media-icon--vidme {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: 0.6;
}

.media-link:hover .media-icon.media-icon--dailymotion,
.media-link.active .media-icon.media-icon--dailymotion,
.media-link:hover .media-icon.media-icon--vidme,
.media-link.active .media-icon.media-icon--vidme {
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
            filter: grayscale(0%);
    opacity: 1.0;
}

.media-link:hover .media-icon.media-icon--facebook,
.media-link.active .media-icon.media-icon--facebook {
    background: #3b5998;
    color: white;
}

.media-link:hover .media-icon.media-icon--etsy,
.media-link.active .media-icon.media-icon--etsy {
    background: #d5641c;
    color: white;
}