
/*
 | Notice
 | ----------------------------------------------------------------------
 */

.notice {
    background: #fff4cc;
    border-left: 5px solid #ffe070;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0 20px;
    font-size: 14px;
}

#app-content > .notice:first-child {
    margin: 10px 10px 10px;
}

.error-notice {
    background: #ffe8e0;
    border-left: 5px solid #ffbaa3;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
}

.info-notice {
    background: hsla(210, 30%, 95%, 1);
    border-left: 5px solid rgba(176, 190, 197, 0.18);
    color: hsla(232,20%,32%,0.7);
    font-weight: 600;
    padding: 8px 10px;
    box-sizing: border-box;
    margin: 5px 0 5px;
    font-size: 13px;
    letter-spacing: 0.2px;
}

.card.notice {
    box-shadow: 0 0 1px 0 hsl(47, 90%, 32%), 0 3px 2px -2px hsl(47, 99%, 80%);
    border-top: 0;
}