
/*
 | option group
 | ----------------------------------------------------------------------
 */

.option-group {
    display: flex;
    align-items: center;
}

.option-group-item {
    border: 1px solid #B0BEC5;
    display: inline-block;
    position: relative;
    z-index: 1;
    line-height: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 11px;
    padding: 0 8px;
    box-sizing: border-box;
    min-width: 40px;
    text-align: center;
    color: #B0BEC5;
    background: white;
    transition: transform 200ms ease;
}
.option-group-item:hover {
    background: #B0BEC5;
    color: white;
    cursor: pointer;
}

.option-group-item.selected {
    transform: scale(1.15);
    z-index: 2;
    background: #3daaf5;
    border-color: #3daaf5;
    color: white;
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.3)
}

.option-group-item + .option-group-item {
    margin-left: -1px;
}