

/*
 | Pending/Status
 | ----------------------------------------------------------------------
 */
.pending:not(.status):not(.label), .output-status {
    text-align: center;
    padding: 40px 20px 40px;
}
.pending__text, .output-status {
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: rgba(0,0,0,0.4);
}

.pending__bar {
    display: block;
    margin: 15px auto 0;
    background: #f4f7f8;
    width: 120px;
    height: 3px;
    position: relative;
    overflow: hidden;
}
.pending__bar:before, .pending__bar:after,
.pending__bar span:after {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 120px;
    background: #3daaf5;
    animation: pending__bar 3000ms infinite linear;
}

.pending__bar:after {
    margin-right: 125px;
}
.pending__bar span:after {
    margin-right: -125px;
}

@keyframes pending__bar {
    from {
        right: 100%;
    }
    to {
        right: -100%;
    }
}

.pending-overlay {
    display: block;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 70px;
    text-align: center;
    z-index: 9999;
}

.pending-overlay > .loading {
    margin: 0 auto;
}

.pending-overlay > * {
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    margin-top: 10px;
}