
/*----------------------------
    Progress Steps
-----------------------------*/
ul.progstep {
    width: 100%;
    list-style-type: none;
    padding: 0;
    counter-reset: progstep;
    margin: 40px 0 0;
}
ul.progstep:before, ul.progstep:after {
    content: '';
    display: table;
}
ul.progstep:after {
    clear: both;
}

ul.progstep li {
    margin: 0;
    border-top: 2px solid #e3e3e3;
    position: relative;
    float: left;
    font-size: 13px;
    text-align: center;
    padding: 30px 0 0;
}
ul.progstep li:before {
    content: counter(progstep);
    counter-increment: progstep;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -18px;
    background: white;
    border: 2px solid #e3e3e3;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
}
ul.progstep li.selected, ul.progstep li.selected:before {
    border-color: #15A4FA;
}