.ui-radio {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.ui-radio:hover {
    background: #f7f9fb;
}
.ui-radio input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: -5px;
    left: -5px;
}
.ui-radio input + * {
    padding-left: 26px;
    color: hsla(232,20%,32%,0.8);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12.5px;
    font-weight: 600;
}
.ui-radio input + *:before,
.ui-radio input + *:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1.5px solid hsla(232,20%,32%,0.12);
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 50%;
}
.ui-radio input:checked + *:before {
    border-color: #3daaf5;
}
.ui-radio input:checked + *:after {
    width: 8px;
    height: 8px;
    border: 0;
    background: #3daaf5;
    margin-left: 4px;
}
.ui-radio input:focus + *:before {
    box-shadow: 0 0 0 3px rgba(0,140,221,.2)
}