
/*-------------------------
    Toggle Switch
--------------------------*/

.ui-switch {
    height: 32px;
    width: 78px;
    background: #eaeaea;
    border: 1px solid #dedede;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.ui-switch input {
    position: absolute;
    visibility: hidden;
}
.ui-switch label,
.ui-switch div {
    cursor: pointer;
}
.ui-switch label:before, .ui-switch label:after,
.ui-switch div:before, .ui-switch div:after {
    position: absolute;
    width: 39px;
    height: 32px;
    font-size: 14px;
    top: 0;
    text-align: center;
    line-height: 32px;
    z-index: 4;
}
.ui-switch label:before,
.ui-switch div:before {
    content: 'On';
    left: 0;
    background: #59CC72;
    color: white;
    margin: -1px;
}
.ui-switch label:after,
.ui-switch div:after {
    content: 'Off';
    right: 0;
}
.ui-switch input:checked + .knob {
    left: 38px;
}
.ui-switch input:not(:checked) + .knob {
    left: -1px;
}
.ui-switch .knob {
    width: 39px;
    height: 32px;
    position: absolute;
    top: 0;
    margin-top: -1px;
    display: block;
    background: white;
    border: 1px solid #dedede;
    box-sizing: border-box;
    z-index: 5;
    left: 0;
    transition: left 200ms ease;
}
.ui-switch .knob:before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #bcbcbc;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: -4px;
}
.ui-switch .knob:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #bcbcbc;
    top: 50%;
    left: 50%;
    margin-left: 2px;
    margin-top: -4px;
}


.ui-switch.ui-switch--small {
    height: 20px;
    width: 40px;
}

.ui-switch.ui-switch--small label:before, .ui-switch.ui-switch--small label:after,
.ui-switch.ui-switch--small div:before, .ui-switch.ui-switch--small div:after,
.ui-switch.ui-switch--small .knob {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 10px;
}

.ui-switch.ui-switch--small input:checked + .knob {
    left: 19px
}
.ui-switch.ui-switch--small .knob:before,
.ui-switch.ui-switch--small .knob:after {
    border-width: 3px;
    margin-top: -3px;
}
.ui-switch.ui-switch--small .knob:before {
    margin-left: -5px;
}
.ui-switch.ui-switch--small .knob:after {
    margin-left: 1px;
}