

/*
 | Tabmenu
 | ----------------------------------------------------------------------
 */

.tabmenu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 6px;
}

.as-tabmenu-fixed-parent {
    padding-top:30px
}

.tabmenu.as-button-group {
    background: #f1f5f9;
    border-radius: 15px;
    padding: 3px 3px 2px 3px;
    margin-top: -3px;
}

.tabmenu.as-fixed {
    position: fixed;
    margin-top: -40px;
    z-index: 999;
}

.tabmenu a {
    display: inline-block;
    color: hsla(232,20%,32%,1);
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    line-height: 28px;
}
.tabmenu a:not([title]) {
    cursor: default;
}
.tabmenu a[title]:hover {
    font-weight: 700;
}
.tabmenu a.selected {
    font-weight: 700;
    color: #3daaf5;
}

.tabmenu a.title {
    color: hsla(232,20%,62%,1);
    text-transform: uppercase;
}

.tabmenu a:after {
    display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    margin-bottom:-1px;
}

.tabmenu .sep {
    height: 10px;
    width: 1px;
    display: inline-block;
    background: hsla(232,20%,80%,1);
}


/*
 | Tabmenu Buttons
 | ----------------------------------------------------------------------
 */

.tabmenu button {
    display: inline-flex;
    align-items: center;
    line-height: 28px;
    border-radius: 13px;
    padding: 0 15px;
    border-color: hsl(232,20%,80%);
    color: hsl(232,20%,50%);
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    transition: all 50ms ease;
    background: rgba(255,255,255,0.3);
    margin-right: 5px;
}

.tabmenu.as-button-group button {
    background: rgba(255,255,255,0.5);
    margin-right: 0;
}
.tabmenu.as-button-group button:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 2px;
}
.tabmenu.as-button-group button:not(:first-of-type) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.tabmenu button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0,140,221,.2)
}

.tabmenu button:hover {
    background: hsl(232,20%,50%);
    border-color: hsl(232,20%,50%);
    color: white;
}


.tabmenu button > .icon-span:first-child {
    display: inline-flex;
    align-items: center;
    margin-left: -1px;
}

.tabmenu button > .icon-span i {
    margin-bottom: -1px;
}

.tabmenu a + *:not(a):not(span) {
    margin-left: 5px;
}


.tabmenu button.green:hover {
    border-color: rgba(83, 191, 107, 0.2);
    background: rgba(83, 191, 107, 0.2);
    color: hsl(232,20%,50%);
}
.tabmenu button.red:hover {
    border-color: rgba(230, 69, 72, 0.2);
    background: rgba(230, 69, 72, 0.2);
    color: hsl(232,20%,50%);
}
.tabmenu button.blue:hover {
    border-color: rgba(21, 164, 250, 0.2);
    background: rgba(21, 164, 250, 0.2);
    color: hsl(232,20%,50%);
}
.tabmenu button.yellow:hover {
    border-color: rgba(230, 193, 73, 0.2);
    background: rgba(230, 193, 73, 0.2);
    color: hsl(232,20%,50%);
}
.tabmenu button.black:hover {
    border-color: rgba(85, 85, 85, 0.2);
    background: rgba(85, 85, 85, 0.2);
    color: hsl(232,20%,50%);
}