textarea {
    border: 1px solid hsla(232,20%,32%,0.25);
    padding: 3px 4px;
    border-radius: 3px;
    box-sizing: border-box;
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
}
textarea:hover, textarea:focus {
    border: 1px solid hsla(232,20%,32%,0.4);
}
select,
input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=time],
input[type=date] {
    border: 1px solid hsla(232,20%,32%,0.25);
    padding: 3px 4px;
    border-radius: 3px;
    box-sizing: border-box;
    background: #fff;
}
select:hover, select:focus,
input[type=text]:hover, input[type=text]:focus,
input[type=email]:hover, input[type=email]:focus,
input[type=url]:hover, input[type=url]:focus,
input[type=number]:hover, input[type=number]:focus,
input[type=time]:hover, input[type=time]:focus,
input[type=date]:hover, input[type=date]:focus {
    border: 1px solid hsla(232,20%,32%,0.4);
}

textarea:focus,
select:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=time]:focus,
input[type=date]:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0,140,221,.2)
}

textarea[disabled],
select[disabled],
input[type=text][disabled],
input[type=email][disabled],
input[type=url][disabled],
input[type=number][disabled],
input[type=time][disabled],
input[type=date][disabled] {
    color: #808080;
    background: #fff;
    opacity: 0.5;
    cursor: default;
}


.selectr-container .selectr-options-container,
.selectr-container .selectr-selected,
.selectr-container .selectr-input {
    border-color: hsla(232,20%,32%,0.25) !important;
    outline: 0 !important;
}
.selectr-container:not(.inverted).open .selectr-selected,
.selectr-container.inverted.open .selectr-options-container {
    border-bottom: 0;
}
.selectr-container:not(.inverted).open .selectr-options-container,
.selectr-container.inverted.open .selectr-selected {
    border-top: 0;
}
.selectr-container:not(.inverted).open .selectr-options-container {
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.25);
}
.selectr-container.inverted.open .selectr-options-container {
    box-shadow: 0 -5px 10px -5px rgba(0,0,0,0.25);
}
.selectr-container .selectr-option.selected,
.selectr-container .selectr-option.active {
    color: #15A4FA;
    background: rgba(21, 164, 250, 0.12);
}
.selectr-container .selectr-option.selected.active {
    color: #E64548;
    background-color: rgba(230, 69, 72, 0.12);
}
.selectr-container .selectr-option.selected:after {
    content: 'selected';
    position: absolute;
    right: 10px;
}
.selectr-container .selectr-option.active:after {
    content: 'click to select';
    position: absolute;
    right: 10px;
}
.selectr-container .selectr-option.selected.active:after {
    content: 'click to unselect';
    font-weight: 600;
    color: #E64548;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    textarea,
    select,
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=number],
    input[type=time],
    input[type=date],
    textarea:hover,
    select:hover,
    input[type=text]:hover,
    input[type=email]:hover,
    input[type=url]:hover,
    input[type=number]:hover,
    input[type=time]:hover,
    input[type=date]:hover,
    textarea:focus,
    select:focus,
    input[type=text]:focus,
    input[type=email]:focus,
    input[type=url]:focus,
    input[type=number]:focus,
    input[type=time]:focus,
    input[type=date]:focus {
        border-width: 0.5px;
    }

    .selectr-selected,
    .selectr-options-container,
    .selectr-container.inverted .selectr-options-container {
        border-width: 0.5px !important;
    }
}