.spacer.TSBViewResultWrapper {
    margin-top: 5px;
    margin-bottom: 10px;
}

.TSBViewResultWrapper tr td {
    border-bottom: 1px solid #ededed;
    line-height: 18px;
    padding: 10px 5px 5px 5px;
}

.TSBViewResultWrapper tbody tr:first-of-type td {
    border-top: 1px solid #ededed;
}

.TSBViewResultWrapper tbody tr td:first-of-type {
    border-right: 1px solid #ededed;
    padding-right: 0;
    padding-left: 0;
    max-width: 130px;
    width: 130px;
}

.TSBViewResultWrapper tbody tr td:first-of-type b {
    background: #3daaf5;
    color: white;
    float: right;
    padding: 0 5px 0 8px;
    line-height: 26px;
    border-radius: 13px 0 0 13px;
    font-size: 11px;
    margin-right: -0.5px;
}
.TSBViewResultWrapper tbody tr td:first-of-type div:last-of-type {
    text-align: right;
    padding: 1px 5px 0 0;
    font-size: 10px;
    color: rgba(0,0,0,0.6);
}

.TSBViewResultWrapper tbody tr td:nth-of-type(2) {
    padding-left: 15px;
    font-size: 10px;
}