/* media reports page
--------------------------------------------------------------------------------*/
.MediaReportForm, .GlobalQueueForm {
    background: hsla(232,20%,32%,0.04);
    max-width: 600px;
    margin-top: 7px;
    padding: 10px 40px 10px 15px;
}

.MediaReport__Inner .pending-overlay {
    max-width: 600px;
}

input[type=text].MediaReportForm__SubjectInput,
input[type=url]#GlobalQueue__EnqueueURL {
    box-sizing: border-box;
    width: 100%;
    line-height: 32px;
    padding: 0 15px;
    font-size: 12px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    color: hsla(232,20%,32%,0.85);
    border-color: hsla(232,20%,32%,0.14);
}
.MediaReportForm__Error {
    margin-top: 10px;
}
button.MediaReportForm__SearchButton.primary {
    margin: 10px 0 0;
}

/* media report output
--------------------------------------------------------------------------------*/
.MediaReportOutput {
    max-width: calc(100vw - 20px);
    font-size: 12px;
    position: relative;
}

#MediaReportOutput table {
    min-width: 900px;
}

.MediaReportOutput tr:hover td,
.MediaReportOutput tr.selected td {
    background: #f5f5f5;
}

.MediaReportOutput tr.selected td:not(.MediaReport__ResultColumn--thingpreview):not(.MediaReport__ResultColumn--permalink) {
    background: hsla(47, 100%, 93%, 1);
}

.MediaReportOutput .MediaReport__ResultColumn--timestamp {
    color: rgba(0,0,0,0.5);
    font-size: 11px;
    width: 90px;
}
.MediaReportOutput .MediaReport__ResultColumn--author,
.MediaReportOutput .MediaReport__ResultColumn--subreddit {
    width: 180px
}

.MediaReportOutput .MediaReport__ResultColumn--media_channel_id {
    color: rgba(0,0,0,0.6);
    background: #fafafa;
}

.MediaReportOutput .MediaReport__ResultColumn--media_platform {
    position: relative;
    width: 28px;
    box-sizing: border-box;
}

.MediaReportOutput .MediaReport__ResultColumn--media_platform .media-link {
    width: 28px;
    height: auto;
    background: #f0f0f0;
    color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.MediaReportOutput .MediaReport__ResultColumn--media_platform .media-link .icon {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 28px;
    height: auto;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.MediaReportOutput .MediaReport__ResultColumn--media_platform .media-link .icon:not(:hover) {
    background: #f0f0f0;
}

.MediaReportOutput .MediaReport__ResultColumn--permalink,
.MediaReportOutput .MediaReport__ResultColumn--thingpreview,
.MediaReportOutput .MediaReport__ResultColumn--thingtype {
    width: 28px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.MediaReportOutput .MediaReport__ResultColumn--thingtype {
    padding: 0;
}
.MediaReportOutput .MediaReport__ResultColumn--permalink > a,
.MediaReportOutput .MediaReport__ResultColumn--thingpreview > a {
    color: rgba(0,0,0,0.5);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.MediaReportOutput .MediaReport__ResultColumn--permalink > a:hover,
.MediaReportOutput .MediaReport__ResultColumn--thingpreview > a:hover {
    background: #f0f0f0;
}

/* thing preview
--------------------------------------------------------------------------------*/
.ThingPreviewParent {
    position: relative;
}

.ThingPreview {
    box-shadow: 0 1px 2px rgba(0,0,0,.15),0 0 1px rgba(0,0,0,.3);
    position: absolute;
    display: none !important;
    top: 0;
    right: 100%;
    z-index: 999;
    background: white;
    min-width: 350px;
    text-align: left;
    padding: 5px;
    opacity: 0;
    transform: translateX(10px);
}

.ThingPreviewParent:hover .ThingPreview {
    display: block !important;
    animation: ThingPreviewIn 200ms ease forwards;
}

.ThingPreview__title {
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.ThingPreview__type span {
    padding: 0 4px;
    display: inline-block;
}
.ThingPreview__data ul, .ThingPreview__data ol {
    padding-left: 25px;
}

@keyframes ThingPreviewIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* media report result
--------------------------------------------------------------------------------*/
.MediaReportResult {
    margin-top: 10px;
}

.MediaReportResult .close {
    opacity: 0.6;
}

.MediaReportTabPane__TopArea {
    margin-top: 10px;
    margin-bottom: 5px;
}

.MediaReportTabPane__TopLabel {
    background: hsla(232,20%,32%,0.07);
    border: 1px solid hsla(232,20%,32%,0.02);
    margin-left: 10px;
    line-height: 25px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.MediaReportTabPane__TopLabel.is--button {
    cursor: pointer;
}

.MediaReportTabPane__TopLabel.dropdown--active, .MediaReportTabPane__TopLabel.is--button:hover {
    background: hsla(232,20%,32%,0.09);
}

.MediaReportTabPane__TopLabel > span:first-child {
    font-weight: 600;
    text-transform: lowercase;
    font-size: 12px;
    margin-right: 3px;
}

.MediaReportTabPane__TopLabel .dropdown--label + .icon {
    margin-left: 4px;
    margin-right: 3px;
}


.MediaReportTabPane[name=group] table {
    display: block;
    width: 100%;
}
.MediaReportTabPane[name=group] thead, .MediaReportTabPane[name=group] tbody {
    display: flex;
    flex-direction: column;
}
.MediaReportTabPane[name=group] tr {
    display: flex;
    flex-direction: row;
}
.MediaReportTabPane[name=group] tr td,
.MediaReportTabPane[name=group] tr th {
    width: 50%;
}