/* media item inputs
--------------------------------------------------------------------------------*/

.MediaTargetItem {
    background: hsla(232,20%,32%,0.04);
    margin: 7px 0;
    border-radius: 3px;
}
.MediaTargetItem--error {
    background: hsla(10,79%,93%,1);
}
.MediaTargetItem input[type=url],
.MediaTargetItem__fauxInput {
    border: 0;
    background: transparent;
    padding: 0 15px;
    line-height: 34px;
    min-height: 34px;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    color: hsla(232,20%,32%,0.95);
    cursor: text;
}

.MediaTargetItem__fauxInput {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.MediaTargetItem__fauxInput:hover {
    background: hsla(232,20%,32%,0.02);
}
.MediaTargetItem__fauxInput .code {
    padding: 0 10px;
    margin-right: -10px;
}

.MediaTargetItem input[type=url].MediaTargetItem__input--checkingMedia {
    color: hsla(232,20%,32%,0.6);
}

.MediaTargetItem:not(.MediaTargetItem--result) .MediaTargetItem__results {
    display: none !important;
}

.MediaTargetItem input[type=url]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0,0,0,0.5);
}
.MediaTargetItem input[type=url]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(0,0,0,0.5);
   opacity: 1;
}
.MediaTargetItem input[type=url]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(0,0,0,0.5);
   opacity: 1;
}
.MediaTargetItem input[type=url]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0,0,0,0.5);
}

.MediaTargetItem__resultBlock ul li span + span {
    margin-left: 4px;
}
.MediaTargetItem__resultBlock ul li.MediaTargetItem__resultLabel--None {
    text-transform: uppercase;
    color: hsla(232,20%,32%,0.65);
    font-weight: bold;
    font-size: 11px;
}


.MediaTargetItem__resultBlock {
    padding: 10px 0 10px 20px;
    background: white;
    font-family: 'Open Sans', Arial, sans-serif;
}
.MediaTargetItem__resultBlock h5 {
    font-size: 12px;
}
.MediaTargetItem__resultBlock ul {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
}
.MediaTargetItem__resultBlock ul li {
    background: hsla(232,20%,32%,0.09);
    line-height: 24px;
    padding: 0 7px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.MediaTargetItem__resultBlock.MediaTargetItem__resultBlock--error {
    color: #b91313;
    font-weight: 600;
    font-size: 13px;
}

/* media queries
--------------------------------------------------------------------------------*/
@media (max-width: 400px) {
    button.TSBForm__MediaTargetClearButton, button.TSBForm__MediaTargetAddButton {
        font-size: 0;
        height: 28px;
        line-height: 28px;
    }
    button.TSBForm__MediaTargetClearButton:before {
        content: 'Clear';
        font-size: 12px;
    }
    button.TSBForm__MediaTargetAddButton:before {
        content: 'Add';
        font-size: 12px;
    }
    .TSBForm__SupportedPlatformsLabel {
        font-size: 0;
        line-height: 22px;
        height: 22px;
    }
    .TSBForm__SupportedPlatformsLabel:before {
        content: 'Platforms:';
        font-size: 10px;
    }
}

/* TSB Supported Platforms List
--------------------------------------------------------------------------------*/
.TSBForm__SupportedPlatforms {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: #fafafa;
    font-size: 0;
}

.TSBForm__SupportedPlatformsLabel {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(0,0,0,0.4);
}

.TSBForm__SupportedPlatformsList {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.TSBForm__SupportedPlatformsList li {
    height: 22px;
    line-height: 22px;
    padding: 0 2px;
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon {
    font-size: 19px;
    line-height: 22px;
}
.TSBForm__SupportedPlatformsList .media-icon:not(.media-icon--dailymotion):not(.media-icon--vidme) {
    opacity: 0.65;
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon--soundcloud {
    width: 30px;
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon--dailymotion {
    transform: scale(0.7);
    opacity: 0.29;
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon--vimeo,
.TSBForm__SupportedPlatformsList .media-icon.media-icon--twitch {
    transform: scale(0.85);
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon--youtube,
.TSBForm__SupportedPlatformsList .media-icon.media-icon--twitter {
    transform: scale(0.9);
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon--vidme {
    transform: scale(0.7);
    opacity: 0.3;
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon--facebook {
    transform: scale(0.8);
}
.TSBForm__SupportedPlatformsList .media-icon.media-icon--etsy {
    font-size: 15px;
}

.TSBForm__SupportedPlatformsList li > span {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
    padding: 0 2px;
    color: rgba(0,0,0,0.4);
}

/* aside mod */
.app-aside .TSBForm__SupportedPlatforms {
    display: block;
    background: white;
    border: 1.5px solid #f1f5f9;
    padding: 6px 10px;
    margin: 8px 0;
}
.app-aside .TSBForm__SupportedPlatformsLabel {
    margin: 0;
    color: hsl(210, 18%, 81%);
    font-weight: 700;
}

.app-aside .TSBForm__SupportedPlatformsList {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3px;
    opacity: 0.8;
}

.app-aside .TSBForm__SupportedPlatformsList .media-link,
.app-aside .TSBForm__SupportedPlatformsList .media-icon,
.app-aside .TSBForm__SupportedPlatformsList .media-link .media-icon {
    color: hsla(232,20%,32%,0.5);
}