/* global queue
--------------------------------------------------------------------------------*/
.GlobalQueueResult {
    padding: 0;
    margin: 20px 0;
}

.GlobalQueueResult > h4 {
    margin-bottom: 10px;
}

.GlobalQueueResult--output.GlobalQueueResult--RealOutput {
    border: 1px solid rgba(0,0,0,0.09);
}

.GlobalQueueResult--output {
    overflow-x: auto;
    max-width: calc(100vw - 20px);
}

#GlobalQueueResult--approved .globalqueue_th--status,
#GlobalQueueResult--denied .globalqueue_th--status {
    width: 20px;
    padding: 0;
    max-width: 50px;
    text-align: center;
}

.GlobalQueueResult--RealOutput table th:first-child {
    width: 40px;
}

.GlobalQueueResult--RealOutput table tbody tr:nth-child(odd) {
    background: hsla(232,20%,32%,0.04);
}
.GlobalQueueResult--RealOutput table th {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.page--admin_globalqueue #GlobalQueueResult--pending.GlobalQueueResult--RealOutput tr.globalqueueitem {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#GlobalQueueResult--pending.GlobalQueueResult--RealOutput table th.globalqueue_th--status {
    width: 100px;
}

#GlobalQueueResult--approved .globalqueue--status,
#GlobalQueueResult--denied .globalqueue--status {
    text-align: center;
    min-width: 50px;
    padding: 0;
}

.GlobalQueueForm {
    max-width: 800px;
}

.GlobalQueueForm h4 {
    margin-bottom: 6px;
}

input[type=url]#GlobalQueue__EnqueueURL {
    width: auto;
    height: 32px;
    line-height: 32px;
    min-width: 450px;
}
textarea#GlobalQueue_EnqueueReason {
    min-width: 450px;
    min-height: 32px;
    line-height: 20px;
    padding: 5px 15px;
    font-size: 12px;
    margin: 5px 0px 0px;
    border-color: rgba(65, 69, 98, 0.137);
    color: rgba(65, 69, 98, 0.85);
    height: 54px;
}

#GlobalQueue__EnqueueButton {
    margin-left: 5px;
}

.globalqueue--enqueued_time {
    font-size: 10.5px;
    font-weight: 600;
    color: rgba(0,0,0,0.55);
    font-family: 'Open Sans', Arial, sans-serif;
}

.globalqueue--reason {
    font-size: 12px;
    line-height: 20px;
    color: hsla(232,20%,32%,0.8);
}
.globalqueue--reason.globalqueue--reasonNone:before {
    content: 'no reason';
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: hsla(232,20%,32%,0.35);
}

.globalqueue--status .statuschange--approve,
.globalqueue--status .statuschange--deny {
    display: block;
    margin-left: 0;
    text-align: center;
    margin-top: 3px;
    max-width: 80px;
}
.globalqueue--status .statuschange--deny {
    margin-bottom: 3px;
}

#GlobalQueueResult--pending .globalqueue_th--reviewer,
#GlobalQueueResult--pending .globalqueue--reviewer {
    display: none !important;
}
.globalqueueitem {
    font-size: 11px;
}
td.globalqueue--channel a.code {
    font-size: 10.5px;
}