/* generic */
hr {
    height: 1px;
    background: hsla(232,20%,32%,0.1)
}
.icon39:hover {
    background: hsla(210, 20%, 93%, 1);
}

/* card & input */
.card .content {
    background: hsla(210, 47%, 98%, 1);
}
.card .header + .content {
    border-top: 1px solid hsla(210, 47%, 90%, 1);
}
#SBTView__Parent .posRel + .content {
    background: white;
}
.selectize-input, select, #SBTView__subjectFilter {
    background: white;
    border: 1px solid hsla(232,20%,32%,0.25);
}


select, .card select {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-left: 5px;
    color: #707f86;
}
select:not(#SBTView__amountPerPage) {
    width: 100%;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .selectize-input, .card .header + .content, #SBTView__subjectFilter {
        border-width: 0.5px;
    }
}

#SBTView__subjectFilter {
    width: 100%;
    height: 33px;
}

#SBTView__amountPerPage {
    height: 33px;
    line-height: 33px;
    margin-left: 0;
}

#SBTView__refreshButton {
    height: 33px;
    line-height: 33px;
}

/* form */

textarea#SBTAction__subjectInput {
    width: 100%;
    min-height: 100px;
    padding: 6px 12px;
    resize: vertical;
}

input[type=text].SBTView__currentPage {
    width: 70px;
    text-align: center;
    border: 1px solid hsla(232,20%,32%,0.25);
}
input[type=text].SBTView__currentPage:hover,
input[type=text].SBTView__currentPage:focus {
    border-color: hsla(232,20%,32%,0.4);
}
@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    input[type=text].SBTView__currentPage {
        border-width: 0.5px;
    }
}

/* table */
#SBTView__table {
    border-bottom: 1px solid #D5D5D5;
    min-height: 140px;
}
#SBTView__Parent th {
    color: #b0bec5;
}
.SBTView__tableRow:hover {
    background: hsla(210, 42%, 96%, 1);
}
#SBTView__Parent th {
    border-bottom: 0;
    border-top: 1px solid hsla(232,20%,32%,0.1);
}
#SBTView__Parent thead {
    box-shadow: 0 -4px 4px -4px hsla(232,20%,32%,0.2);
}

.SBTAction__resultsItem {
    padding: 0 5px;
}
.SBTAction__resultsItem:hover {
    background: rgba(0,0,0,0.06);
}