.page--linkshortener main {
    background: hsla(210,40%,96%,0.6);
}

.wrapper {
    max-width: 910px;
    margin: 0 auto;
}

.LinkShortener__NewBox {
    background: hsl(204, 92%, 50%);
    padding: 30px 0;
    position: relative;
}

.LinkShortener__NewBox:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    z-index: 0;
}
.LinkShortener__NewBox .wrapper {
    z-index: 2;
    position: relative;
}

.LinkShortenForm input[type=url] {
    border: 0;
    padding: 0 12px;
    line-height: 38px;
    min-width: 500px;
    transition: all 100ms ease;
    font-size: 14px;
}
.LinkShortenForm input[type=url]:focus {
    box-shadow: 0 1px 3px hsla(204,90%,30%,0.7);
}
.LinkShortenForm input[type=url][disabled] {
    opacity: 1;
    color: rgba(0,0,0,0.35);
    box-shadow: none;
}

.LinkShortenForm {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}

.LinkShortenForm button.primary.primary--2 {
    background: #fff;
    color: hsla(204,90%,40%,1);
    box-shadow: 0 2px 4px hsla(204,90%,30%,0.7);
    line-height: 38px;
    border: 0;
    margin-left: 5px;
}
.LinkShortenForm button.primary.primary--2:hover,
.LinkShortenForm button.primary.primary--2:focus {
    color: hsla(204,90%,30%,1);
    box-shadow: 0 1px 10px hsla(204,90%,30%,0.95);
}
.LinkShortenForm button.primary.primary--2:active {
    color: hsla(204,90%,40%,0.8);
}
.LinkShortenForm button.primary.primary--2[disabled] {
    color: hsla(204,90%,40%,0.3);
    box-shadow: 0 2px 4px hsla(204,90%,30%,0.2);
}

.LinkShortener__NewBox h1 {
    color: #fff;
    letter-spacing: 0.2px;
    text-shadow: 0 1px 7px rgba(0,0,0,0.25);
}

.LinkShortener__NewBox h1 small {
    font-size: 15px;
    position: absolute;
    margin-left: 10px;
    text-transform: uppercase;
}

.LinkShortener__CurrentBox {
    padding-top: 40px;
}

.LinkShortenerFormErrorList {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0px 3px rgba(0,0,0,0.5), 1px 1px 8px rgba(0,0,0,0.1);
}

/* ShortLinkRow / ShortLinkRowButtons
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.ShortLinkRowButtons button {
    margin-left: 2px;
}

.ShortLinkRow input[type=text] {
    font-size: 12px;
    line-height: 22px;
    height: 22px;
}
.ShortLinkRow .grow input[type=text] {
    width: 100%;
}

/* ShortLinkRow__originalLink
   ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.ShortLinkRow__originalLink a {
    max-width: 340px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.ShortLinkRow__originalLink.ShortLinkRow__originalLink--inEdit .ShortLinkRowButtons--normal {
    display: none !important;
}

.ShortLinkRow__originalLink:not(.ShortLinkRow__originalLink--inEdit) .ShortLinkRowButtons--inEdit {
    display: none !important;
}

/* ShortLinkRow__more
   ~~~~~~~~~~~~~~~~~~ */

.ShortLinkRow__more {
    padding: 0;
}
.ShortLinkRow__more .dropdown--trigger {
    height: 20px;
    width: 20px;
    display: block;
    border: 0;
    background: transparent;
    line-height: 20px;
    text-align: center;
    padding: 0;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.ShortLinkRow__more .dropdown--trigger:hover, .ShortLinkRow__more .dropdown--trigger.dropdown--active {
    color: #000;
    background: rgba(0,0,0,0.05);
}
