section.DirtbagSettings__group {
    padding: 10px 0 10px 20px;
}

.DirtbagSettings__property[data-descriptor=toggle] > label {
    display: flex;
    align-items: center;
}

.DirtbagSettings__group {
    border: 1px solid #e3e3e3;
    margin: 10px 40px 10px 0;
}

[data-group=root] > .DirtbagSettings__group > h3 {
    margin-bottom: 20px;
}
[data-group=root] > .DirtbagSettings__group > h3 > span {
    border-bottom: 1px solid #e3e3e3;
    float: left;
}

.DirtbagSettings__group > h3:before,
.DirtbagSettings__group > h3:after {
    content: '';
    display: table;
    clear: both;
}

.DirtbagSettings__property,
.DirtbagSettings__property > label {
    min-height: 27px;
    display: flex;
    align-items: center;
}

.DirtbagSettings__property > label > span {
    min-width: 190px;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    color: hsla(232,20%,32%,0.8);
    font-weight: 600;
}

.DirtbagSettings__saveStatus {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
}


/* _group=row
-------------------------------------------------------------------------------- */
.DirtbagSettings__group[data-group=row] {
    display: flex;
    flex-wrap: wrap;
}

.DirtbagSettings__group[data-group=row] > h3 {
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 10px;
}
.DirtbagSettings__group[data-group=row] .DirtbagSettings__property {
    margin-right: 15px;
}
.DirtbagSettings__group[data-group=row] .DirtbagSettings__property > label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.DirtbagSettings__group[data-group=row] .DirtbagSettings__property > label > span {
    margin-bottom: 4px;
}

/* toggle:group
-------------------------------------------------------------------------------- */
.DirtbagSettings__group[data-group-toggle] > h3,
.DirtbagSettings__group[data-group-toggle] > [data-descriptor="label"]:first-child {
    float: left;
}
.DirtbagSettings__group[data-group-toggle] > [data-descriptor="toggle:group"] > label > span{
    display: none;
}
h3 ~ .DirtbagSettings__property[data-descriptor="toggle:group"],
h3 ~ .DirtbagSettings__property[data-descriptor="toggle:group"] > label {
    min-height: inherit;
}
.DirtbagSettings__property[data-descriptor="toggle:group"] {
    margin-left: 15px;
    display: inline-flex;
}
.DirtbagSettings__property[data-descriptor="toggle:group"][data-value="false"] ~ * {
    opacity: 0.6;
    cursor: default !important;
    pointer-events: none;
}


/* _group=row with toggle:group
-------------------------------------------------------------------------------- */
.DirtbagSettings__group[data-group=row] .DirtbagSettings__property[data-descriptor="toggle:group"] {
    margin-left: 5px;
    margin-right: 20px;
}

/* list fields - input:textlist and input:textmaplist
-------------------------------------------------------------------------------- */
.DirtbagSettings__listfieldParent {
    background: hsla(232,20%,32%,0.04);
    margin: 10px 10px 10px 0;
    padding: 10px;
    min-width: 500px;
}
.DirtbagSettings__listfieldParent h3 {
    margin-bottom: 8px;
}

.DirtbagSettings__listfield {

}

.DirtbagSettings__listfieldItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.DirtbagSettings__listfieldItem input {
    margin-right: 5px;
    border-radius: 0;
    border: 1px solid hsla(232,20%,32%,0.14);
    line-height: 22px;
    font-size: 12px;
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0 6px;
}
@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .DirtbagSettings__listfieldItem input {
        border-width: 0.5px;
    }
}
.DirtbagSettings__listfieldItem input {
    min-width: 200px;
    width: 70%;
}
.DirtbagSettings__listfieldItem input + input {
    min-width: 250px;
}


.DirtbagSettings__listfieldItem .icon { opacity: 0.4; }
.DirtbagSettings__listfieldItem:hover .icon { opacity: 1; }

.DirtbagSettings__listfieldItem .icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    flex-shrink: 0;
}

.DirtbagSettings__listfieldItem .icon.icon-add {
    opacity: 1;
    color: hsla(204,90%,50%,1);
    font-weight: bold;
    border-radius: 50%;
}

.DirtbagSettings__listfieldItem .icon.icon-add:hover {
    background: hsla(204,90%,50%,1);
    color: white;
    font-weight: bold;
}